.modal-window-entry-table {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $buttons-light-color;
    opacity: 0;
    visibility: hidden;
    transition: visibility $cubic,
      opacity $cubic;
    overflow: scroll;
    z-index: 999;
  
    &.show-entry {
      opacity: 1;
      visibility: visible;
    }
}

.modal-table {
  position: absolute;
  top: 20px;
  max-width: 414px;
  width: 100%;
  left: 50%;
  padding: 15px 15px 60px 15px;
  transform: translateX(-50%);
  background-color: #fffdee;
  border-radius: 2px;

  @media screen and (min-width: 1024px) {
    max-width: 712px;
    width: 712px;
    padding: 60px;
    transform: translate(-50% -50%);
  }
}

.modal-table__icon {
  display: block;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: auto;
  padding: 0;

  @media screen and (min-width: 1024px) {
    margin-top: -44px;
    margin-right: -44px;
  }
}

.modal-table__title {
  margin-bottom: 40px;
  margin-top: 20px;
  font-family: 'Times New Roman', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #000000;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 1024px) {
    font-size: 40px;
    line-height: 1.15;
  }
}

.modal-table__list:nth-of-type(2) {
  margin-top: 20px;
}

.modal-table__list:nth-of-type(3) {
  margin-top: 20px;
}

.modal-table__item:last-child {
  margin-bottom: 40px;
}

.modal-table__list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: flex-end;
  }
}

.modal-table__input {
  max-width: 384px;
  width: 100%;
  height: 54px;
  margin-bottom: 8px;
  padding: 12px;
  border: 1px solid #c79002;
  border-radius: 2px;
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: #808080;
  background-color: #fffdee;
  cursor: pointer;
  outline: none;
}

.modal-table__label {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: #c79002;
  cursor: pointer;
  padding-left: 10px;

  @media screen and (min-width: 1024px) {
    font-size: 16px;
    line-height: 1.25;
    width: 288px;
  }
}

.modal-table__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  max-width: 384px;
  width: 100%;
  height: 64px;
  padding: 18px;
  border: 1px solid #f3c653;
  border-radius: 2px;
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #f3c653;
    color: #000000;
  }

  @media screen and (min-width: 1024px) {
    max-width: 592px;
    font-size: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .modal-table__item:nth-child(1) {
    order: 1;
  }

  .modal-table__item:nth-child(2) {
    order: 3;
  }

  .modal-table__item:nth-child(3) {
    order: 2;
  }

  .modal-table__item:nth-child(4) {
    order: 4;
  }
}

.modal-table__label--select {
  position: relative;
}

.modal-table__label--select::after {
  background-image: url(/src/images/svg/arrow-down.svg);
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: -50px;
  right: 5px;
  background-color: #fffdee;
  pointer-events: none;
}


