/* montserrat-regular - latin_cyrillic */
@import '~node_modules/modern-normalize/modern-normalize.css';
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-regular.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/montserrat-v25-latin_cyrillic-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v25-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-500.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/montserrat-v25-latin_cyrillic-500.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v25-latin_cyrillic-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-600.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-600.ttf") format("truetype"), url("../fonts/montserrat-v25-latin_cyrillic-600.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v25-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-700.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/montserrat-v25-latin_cyrillic-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Times New Roman";
  src: url("../fonts/Times_New_Roman.eot");
  src: local(""), url("../fonts/Times_New_Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/Times_New_Roman.woff2") format("woff2"), url("../fonts/Times_New_Roman.woff") format("woff"), url("../fonts/Times_New_Roman.ttf") format("truetype"), url("../fonts/Times_New_Roman.svg#Times New Roman") format("svg");
}
@font-face {
  font-family: "Film P3";
  src: url("../fonts/FilmP3Bold.eot");
  src: local("Film P3 Bold"), local("FilmP3Bold"), url("../fonts/FilmP3Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FilmP3Bold.woff2") format("woff2"), url("../fonts/FilmP3Bold.woff") format("woff"), url("../fonts/FilmP3Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Montserrat", sans-serif;
}
body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.amenities {
  max-width: 414px;
  padding: 32px 15px;
  background-color: rgb(255, 253, 238);
}
.amenities__title {
  margin-bottom: 16px;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.16;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}
.amenities__subtitle {
  margin-bottom: 16px;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}
.amenities__text {
  margin-bottom: 32px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: rgb(122, 122, 122);
}
.amenities__desc {
  margin-bottom: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: rgb(122, 122, 122);
}
.amenities__button {
  width: 100%;
  height: 64px;
  margin-bottom: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.2;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 1px solid #F3C653;
  border-radius: 25px;
}
.amenities__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: rgb(199, 144, 2);
}
.amenities__icon {
  fill: rgb(199, 144, 2);
}/*# sourceMappingURL=index.css.map */