<section class="about-kitchen">
  <div class="about-kitchen__wrapper">
    <div class="about-kitchen__container">
      <div class="about-kitchen__text-wrapper">
        <h1 class="visually-hidden">About our restaurant</h1>
        <p class="about-kitchen__times">Amet minim mollit non</p>
        <svg class="about-kitchen__logo" width="138px" height="32px">
          <use href="./images/svg/icons.svg#mimino"></use>
        </svg>
        <p class="about-kitchen__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <picture class="about-kitchen__kitchen">
        <!-- mobile -->
        <source
          media="(max-width: 1023px)"
          srcset="
            ./images/about_kitchen/mobile/kitchen.webp    1x,
            ./images/about_kitchen/mobile/kitchen@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 1023px)"
          srcset="
            ./images/about_kitchen/mobile/kitchen.jpg    1x,
            ./images/about_kitchen/mobile/kitchen@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <!-- desktop -->
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/about_kitchen/desktop/desktop-kitchen.webp    1x,
            ./images/about_kitchen/desktop/desktop-kitchen@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/about_kitchen/desktop/desktop-kitchen.jpg    1x,
            ./images/about_kitchen/desktop/desktop-kitchen@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <!-- tablet -->
        <source
          media="(min-width: 1024px)"
          srcset="
            ./images/about_kitchen/tablet/tablet-kitchen.webp    1x,
            ./images/about_kitchen/tablet/tablet-kitchen@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1024px)"
          srcset="
            ./images/about_kitchen/tablet/tablet-kitchen.jpg    1x,
            ./images/about_kitchen/tablet/tablet-kitchen@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <img
          src="./images/about_kitchen/mobile/kitchen.jpg"
          alt="кухня ресторану на якій повара готують їжу"
        />
      </picture>

      <div class="about-kitchen__meat-wrapper">
        <picture class="about-kitchen__meat">
          <!-- mobile -->
          <source
            media="(max-width: 1023px)"
            srcset="
              ./images/about_kitchen/mobile/meat.webp    1x,
              ./images/about_kitchen/mobile/meat@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 1023px)"
            srcset="
              ./images/about_kitchen/mobile/meat.jpg    1x,
              ./images/about_kitchen/mobile/meat@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <!-- desktop -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/about_kitchen/desktop/desktop-meat.webp    1x,
              ./images/about_kitchen/desktop/desktop-meat@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/about_kitchen/desktop/desktop-meat.jpg    1x,
              ./images/about_kitchen/desktop/desktop-meat@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <!-- tablet -->
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/about_kitchen/tablet/tablet-meat.webp    1x,
              ./images/about_kitchen/tablet/tablet-meat@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/about_kitchen/tablet/tablet-meat.jpg    1x,
              ./images/about_kitchen/tablet/tablet-meat@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            src="./images/about_kitchen/mobile/meat.jpg"
            alt="шмат смачного червоного м'яса на дошці, біля якого лежить ніж, зелень, і сіль але чомусь немає горілочки"
          />
        </picture>
        <p class="about-kitchen__text--brown">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>

      <!-- Slider--------------->

      <div class="about-kitchen__slider-wrapper">
        <div class="slick about-kitchen__slider">
          <div class="about-kitchen__slick-item">
            <picture class="slick__box">
              <!-- mobile and desktop -->
              <source
                media="(max-width: 1023px), (min-width: 1280px)"
                srcset="
                  ./images/about_kitchen/mobile/dough-and-flour.webp    1x,
                  ./images/about_kitchen/mobile/dough-and-flour@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 1023px), (min-width: 1280px)"
                srcset="
                  ./images/about_kitchen/mobile/dough-and-flour.jpg    1x,
                  ./images/about_kitchen/mobile/dough-and-flour@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <!-- tablet -->
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about_kitchen/tablet/tablet-dough-and-flour.webp    1x,
                  ./images/about_kitchen/tablet/tablet-dough-and-flour@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about_kitchen/tablet/tablet-dough-and-flour.jpg    1x,
                  ./images/about_kitchen/tablet/tablet-dough-and-flour@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                class="slick__box"
                src="./images/about_kitchen/mobile/dough-and-flour.jpg"
                alt="руці у борошні й тісто"
              />
            </picture>
          </div>
          <div class="about-kitchen__slick-item">
            <picture class="slick__box">
              <!-- mobile and desktop -->
              <source
                media="(max-width: 1023px), (min-width: 1280px)"
                srcset="
                  ./images/about_kitchen/mobile/manti.webp    1x,
                  ./images/about_kitchen/mobile/manti@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 1023px), (min-width: 1280px)"
                srcset="
                  ./images/about_kitchen/mobile/manti.jpg    1x,
                  ./images/about_kitchen/mobile/manti@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <!-- tablet -->
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about_kitchen/tablet/tablet-manti.webp    1x,
                  ./images/about_kitchen/tablet/tablet-manti@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about_kitchen/tablet/tablet-manti.jpg    1x,
                  ./images/about_kitchen/tablet/tablet-manti@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                class="slick__box"
                src="./images/about_kitchen/mobile/manti.jpg"
                alt="манти"
              />
            </picture>
          </div>
          <div class="about-kitchen__slick-item">
            <picture class="slick__box">
              <!-- mobile and desktop -->
              <source
                media="(max-width: 1023px), (min-width: 1280px)"
                srcset="
                  ./images/about_kitchen/mobile/desert.webp    1x,
                  ./images/about_kitchen/mobile/desert@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 1023px), (min-width: 1280px)"
                srcset="
                  ./images/about_kitchen/mobile/desert.jpg    1x,
                  ./images/about_kitchen/mobile/desert@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <!-- tablet -->
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about_kitchen/tablet/tablet-desert.webp    1x,
                  ./images/about_kitchen/tablet/tablet-desert@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about_kitchen/tablet/tablet-desert.jpg    1x,
                  ./images/about_kitchen/tablet/tablet-desert@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                class="slick__box"
                src="./images/about_kitchen/mobile/desert.jpg"
                alt="десертний столік із ласощами"
              />
            </picture>
          </div>
          <div class="about-kitchen__slick-item">
            <picture class="slick__box">
              <!-- mobile and desktop -->
              <source
                media="(max-width: 1023px), (min-width: 1280px)"
                srcset="
                  ./images/about_kitchen/mobile/breakfast.webp    1x,
                  ./images/about_kitchen/mobile/breakfast@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 1023px), (min-width: 1280px)"
                srcset="
                  ./images/about_kitchen/mobile/breakfast.jpg    1x,
                  ./images/about_kitchen/mobile/breakfast@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <!-- tablet -->
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about_kitchen/tablet/tablet-breakfast.webp    1x,
                  ./images/about_kitchen/tablet/tablet-breakfast@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about_kitchen/tablet/tablet-breakfast.jpg    1x,
                  ./images/about_kitchen/tablet/tablet-breakfast@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                class="slick__box"
                src="./images/about_kitchen/mobile/breakfast.jpg"
                alt="столік на терассі на якому накритий сніданок"
              />
            </picture>
          </div>
          <div class="about-kitchen__slick-item">
            <picture class="slick__box">
              <!-- mobile and desktop -->
              <source
                media="(max-width: 1023px), (min-width: 1280px)"
                srcset="
                  ./images/about_kitchen/mobile/oysters.webp    1x,
                  ./images/about_kitchen/mobile/oysters@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 1023px), (min-width: 1280px)"
                srcset="
                  ./images/about_kitchen/mobile/oysters.jpg    1x,
                  ./images/about_kitchen/mobile/oysters@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <!-- tablet -->
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about_kitchen/tablet/tablet-oysters.webp    1x,
                  ./images/about_kitchen/tablet/tablet-oysters@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about_kitchen/tablet/tablet-oysters.jpg    1x,
                  ./images/about_kitchen/tablet/tablet-oysters@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                class="slick__box"
                src="./images/about_kitchen/mobile/oysters.jpg"
                alt="устриці"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="about-kitchen__slider-nav"></div>
    </div>
  </div>
</section>
