<section class="about-kitchen">
  <div class="container">
    <div class="about-kitchen__text-wrapper">
      <h1 class="visually-hidden">About our restaurant</h1>
      <p class="times">Amet minim mollit non</p>
      <svg class="logo" width="138px" height="32px">
        <use href="./images/svg/icons.svg#mimino"></use>
      </svg>
      <p class="about-kitchen__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <picture class="about-kitchen__kitchen">
      <source
        srcset="
          ./images/about_kitchen/mobile/kitchen.webp    1x,
          ./images/about_kitchen/mobile/kitchen@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        srcset="
          ./images/about_kitchen/mobile/kitchen.jpg    1x,
          ./images/about_kitchen/mobile/kitchen@2x.jpg 2x
        "
        type="image/jpeg"
      />
      <img
        src="./images/about_kitchen/mobile/kitchen.jpg"
        alt="кухня на ресторану на якій повара готують їжу"
        width="244"
        height="322"
      />
    </picture>
    <div class="about-kitchen__meat-wrapper">
      <picture class="about-kitchen__meat">
        <source
          srcset="
            ./images/about_kitchen/mobile/meat.webp    1x,
            ./images/about_kitchen/mobile/meat@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/about_kitchen/mobile/meat.jpg    1x,
            ./images/about_kitchen/mobile/meat@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <img
          src="./images/about_kitchen/mobile/meat.jpg"
          alt="шмат смачного червоного м'яса на дошці, біля якого лежить ніж, зелень, і сіль але чомусь немає горілочки"
          width="200"
          height="278"
        />
      </picture>
      <p class="about-kitchen__text--brown">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="slider-wrapper">
      <div class="slick variable-width">
        <div class="slick__item">
          <img class="slick__box" src="./images/about_kitchen/mobile/dough-and-flour.jpg" width="245"></img>
        </div>
        <div class="slick__item">
          <img class="slick__box" src="./images/about_kitchen/mobile/manti.jpg" width="245"></img>
        </div>
        <div class="slick__item">
          <img class="slick__box" src="./images/about_kitchen/mobile/desrt.jpg" width="245"></img>
        </div>  
        <div class="slick__item">
          <img class="slick__box" src="./images/about_kitchen/mobile/breakfast.jpg" width="245"></img>
        </div>
        <div class="slick__item">
          <img class="slick__box" src="./images/about_kitchen/mobile/oysters.jpg" width="245"></img>
        </div>        
      </div>
    </div>
    <div class="slider-nav">
      <button class="slider-nav__arrow" type="button">
        <svg width="30px" height="17px">
          <use href="./images/svg/icons.svg#icon-prev-button"></use>
        </svg>
      </button>
      <button class="slider-nav__arrow" type="button">
        <svg width="30px" height="17px">
          <use href="./images/svg/icons.svg#icon-next-button"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
