<!-- Двомісний номер люкс -->
      <section class="rooms">
       <div class="rooms__background-gradient">
         <div class="rooms__container">
          <p class="rooms__slogan">Amet minim mollit non</p>
          <a class="rooms__logo" href="./index.html">Mimiho</a>
          <h2 class="rooms__title">
            Двомісний номер <span class="rooms__title--lowercase">люкс</span>
          </h2>
          <p class="rooms__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
            consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </p>
          <picture>
            <source
              srcset="
                ./images/hotel-images/apartment-414-min.jpg    1x,
                ./images/hotel-images/apartment-414@2x-min.jpg 2x
              "
              type="image/jpeg"
              media="(max-width:1023px)"
            />
            <source
              srcset="
                ./images/hotel-images/apartment-1024-min.jpg    1x,
                ./images/hotel-images/apartment-1024@2x-min.jpg 2x
              "
              type="image/jpeg"
              media="(min-width:1024px)"
            />
            <source
              srcset="
                ./images/hotel-images/apartment-1280-min.jpg    1x,
                ./images/hotel-images/apartment-1280@2x-min.jpg 2x
              "
              type="image/jpeg"
              media="(min-width:1280px)"
            />
            <img
              class="rooms__picture"
              src="./images/hotel-images/apartment-414-min.jpg"
              alt="фото апартаментів"
            />
          </picture>
         <div class="rooms-gallery__slider-wrapper--left">
                <ul class="slick double-lux">
                  <li class="rooms-gallery__slick-item--left">
                    <picture>
                      <source
                        srcset="
                          ./images/hotel-images/bathroom-414-min.jpg    1x,
                          ./images/hotel-images/bathroom-414@2x-min.jpg 2x
                        "
                        type="image/jpeg"
                        media="(max-width:1023px)"
                      />
                      <source
                        srcset="
                          ./images/hotel-images/bathroom-1024-min.jpg    1x,
                          ./images/hotel-images/bathroom-1024@2x-min.jpg 2x
                        "
                        type="image/jpeg"
                        media="(min-width:1024px)"
                      />
                      <source
                        srcset="
                          ./images/hotel-images/bathroom-1280-min.jpg    1x,
                          ./images/hotel-images/bathroom-1280@2x-min.jpg 2x
                        "
                        type="image/jpeg"
                        media="(min-width:1280px)"
                      />
                      <img
                        class="slick__box"
                        src="./images/hotel-images/bathroom-414-min.jpg"
                        alt="фото умивальника у ванній кімнаті"
                      />
                    </picture>
                  </li>
                  <li class="rooms-gallery__slick-item--left">
                    <picture>
                      <source
                        srcset="
                          ./images/hotel-images/cup-tea-414-min.jpg    1x,
                          ./images/hotel-images/cup-tea-414@2x-min.jpg 2x
                        "
                        type="image/jpeg"
                        media="(max-width:1023px)"
                      />
                      <source
                        srcset="
                          ./images/hotel-images/cup-tea-1024-min.jpg    1x,
                          ./images/hotel-images/cup-tea-1024@2x-min.jpg 2x
                        "
                        type="image/jpeg"
                        media="(min-width:1024px)"
                      />
                      <source
                        srcset="
                          ./images/hotel-images/cup-tea-1280-min.jpg    1x,
                          ./images/hotel-images/cup-tea-1280@2x-min.jpg 2x
                        "
                        type="image/jpeg"
                        media="(min-width:1280px)"
                      />
                      <img
                        class="slick__box"
                        src="./images/hotel-images/cup-tea-414-min.jpg"
                        alt="чашка чаю на підвіконні"
                      />
                    </picture>
                  </li>
                  <li class="rooms-gallery__slick-item--left">
                    <picture>
                      <source
                        srcset="
                          ./images/slider_mobile/slider_mobile_1.jpg    1x,
                          ./images/slider_mobile/slider_mobile_1_x2.jpg 2x
                        "
                        type="image/jpeg"
                        media="(max-width:1023px)"
                      />
                      <source
                        srcset="
                          ./images/slider_tablet/slider_tablet_1.jpg    1x,
                          ./images/slider_tablet/slider_tablet_1_x2.jpg 2x
                        "
                        type="image/jpeg"
                        media="(min-width:1024px)"
                      />
                      <source
                        srcset="
                          ./images/slider_desctop/slider_desctop_1.jpg    1x,
                          ./images/slider_desctop/slider_desctop_1_x2.jpg 2x
                        "
                        type="image/jpeg"
                        media="(min-width:1280px)"
                      />
                      <img
                        class="slick__box"
                        src="./images/slider_mobile/slider_mobile_1.jpg"
                        alt="фото кімнати"
                      />
                    </picture>
                  </li>
                  </li>
                </ul>
              </div>
               <div class="double-lux__slider-nav"></div>
            <ul class="rooms__list">
              <li class="rooms__item">
                <a href="./room.html" class="rooms__button--dark button-link">Детальніше</a>
              </li>
              <li class="rooms__item">
                <button class="rooms__button--dark btn_sign" type="button">Переглянути ціни</button>
              </li>
            </ul>
        </div>
      </section>