<section class="hotel-section-room">
  <div class="hotel-section-room-container">
    <p class="hotel-section-room__text">Amet minim mollit non</p>
    <p class="hotel-section-room__logo">MIMIHO</p>
    <h2 class="hotel-section-room__title">двомісний номер</h2>
    <p class="hotel-section-room__description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <picture class="hotel-section-room__images">
      <source
        srcset="
          ./images/hotel_page/desktop/modern-studio-apartment-design_desktop.jpg    1x,
          ./images/hotel_page/desktop/modern-studio-apartment-design_desktop@2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/hotel_page/tablet/modern-studio-apartment-design_tablet.jpg    1x,
          ./images/hotel_page/tablet/modern-studio-apartment-design_tablet@2x.jpg 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./images/hotel_page/mobile/modern-studio-apartment-design_mobile.jpg    1x,
          ./images/hotel_page/mobile/modern-studio-apartment-design_mobile@2x.jpg 2x
        "
        media="(max-width: 1023px)"
      />
      <img
        src="./images/hotel_page/mobile/modern-studio-apartment-design_mobile.jpg"
        alt="сучасні апартаменти з двоспальним ліжком, тумбами та журнальним столиком"
      />
    </picture>
    <div class="hotel-section-room--tablet-desktop">
      <div class="hotel-section-room-slider">
        <ul class="hotel-section-room-slider__images">
          <li>
            <picture>
              <source
                srcset="
                  ./images/hotel_page/desktop/arrangement-pf-bathroom-elements-self-care_desktop.jpg    1x,
                  ./images/hotel_page/desktop/arrangement-pf-bathroom-elements-self-care_desktop@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/hotel_page/tablet/arrangement-pf-bathroom-elements-self-care_tablet.jpg    1x,
                  ./images/hotel_page/tablet/arrangement-pf-bathroom-elements-self-care_tablet@2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/hotel_page/mobile/arrangement-pf-bathroom-elements-self-care_mobile.jpg    1x,
                  ./images/hotel_page/mobile/arrangement-pf-bathroom-elements-self-care_mobile@2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <img
                class="hotel-section-room-slider-img"
                src="./images/hotel_page/mobile/arrangement-pf-bathroom-elements-self-care_mobile.jpg"
                alt="сучасні апартаменти з двоспальним ліжком, тумбами та журнальним столиком"
              />
            </picture>
          </li>
          <li>
            <picture>
              <source
                srcset="
                  ./images/hotel_page/desktop/cup-tea-stands-wooden-windowsill_desktop.jpg    1x,
                  ./images/hotel_page/desktop/cup-tea-stands-wooden-windowsill_desktop@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/hotel_page/tablet/cup-tea-stands-wooden-windowsill_tablet.jpg    1x,
                  ./images/hotel_page/tablet/cup-tea-stands-wooden-windowsill_tablet@2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/hotel_page/mobile/cup-tea-stands-wooden-windowsill_mobile.jpg    1x,
                  ./images/hotel_page/mobile/cup-tea-stands-wooden-windowsill_mobile@2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <img
                class="hotel-section-room-slider-img"
                src="./images/hotel_page/mobile/cup-tea-stands-wooden-windowsill_mobile.jpg"
                alt="сучасні апартаменти з двоспальним ліжком, тумбами та журнальним столиком"
              />
            </picture>
          </li>
        </ul>
        <div class="hotel-section-room-slider__nav">
          <a class="hotel-section-room-slider__button" href="#">
            <svg width="32px" height="32px">
              <use href="./images/svg/icons.svg#icon-vector_left"></use></svg
          ></a>
          <a class="hotel-section-room-slider__button" href="#">
            <svg width="32px" height="32px">
              <use href="./images/svg/icons.svg#icon-vector_right"></use></svg
          ></a>
        </div>
      </div>

      <div class="hotel-section-room__button-container">
        <a class="hotel-section-room__button" href="./room.html"> Детальніше</a>
        <button
          class="hotel-section-room__button"
          type="button"
          data-modal-open
        >
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
