<section class="hotel-section-room">
  <div class="hotel-section-room__wrapper">
    <div class="hotel-section-room-container">
    <p class="hotel-section-room__text">Amet minim mollit non</p>
    <p class="hotel-section-room__logo">MIMIHO</p>
    <h2 class="hotel-section-room__title">двомісний номер</h2>
    <p class="hotel-section-room__description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <picture class="hotel-section-room__images">
      <source
        srcset="
          ./images/hotel_page/desktop/modern-studio-apartment-design_desktop.jpg    1x,
          ./images/hotel_page/desktop/modern-studio-apartment-design_desktop@2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/hotel_page/tablet/modern-studio-apartment-design_tablet.jpg    1x,
          ./images/hotel_page/tablet/modern-studio-apartment-design_tablet@2x.jpg 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./images/hotel_page/mobile/modern-studio-apartment-design_mobile.jpg    1x,
          ./images/hotel_page/mobile/modern-studio-apartment-design_mobile@2x.jpg 2x
        "
        media="(max-width: 1023px)"
      />
      <img
        src="./images/hotel_page/mobile/modern-studio-apartment-design_mobile.jpg"
        alt="сучасні апартаменти з двоспальним ліжком, тумбами та журнальним столиком"
      />
    </picture>
    <div class="hotel-section-room--tablet-desktop">
      <div class="hotel-section-room__slider">
        <div class="hotel-section-room__slider-wrapper">
          <div class="slick hotel-section-room__slick">
            <div class="hotel-section-room__slick-item">
              <picture class="slick__box">
                <!-- desktop -->
                <source
                  srcset="
                    ./images/slider_desctop/slider_desctop_1.jpg    1x,
                    ./images/slider_desctop/slider_desctop_1_x2.jpg 2x
                  "
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />
                <!-- mobile and tablet -->
                <source
                  srcset="
                    ./images/slider_tablet/slider_tablet_1.jpg    1x,
                    ./images/slider_tablet/slider_tablet_1_x2.jpg 2x
                  "
                  media="(max-width: 1279px)"
                  type="image/jpeg"
                />
                <img
                  class="slick__box"
                  src="./images/slider_tablet/slider_tablet_1.jpg"
                  alt="руці у борошні й тісто"
                />
              </picture>
            </div>
            <div class="hotel-section-room__slick-item">
              <picture class="slick__box">
                <!-- desktop -->
                <source
                  srcset="
                    ./images/slider_desctop/slider_desctop_2.jpg    1x,
                    ./images/slider_desctop/slider_desctop_2_x2.jpg 2x
                  "
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />
                <!-- mobile and tablet -->
                <source
                  srcset="
                    ./images/slider_tablet/slider_tablet_2.jpg    1x,
                    ./images/slider_tablet/slider_tablet_2_x2.jpg 2x
                  "
                  media="(max-width: 1279px)"
                  type="image/jpeg"
                />
                <img
                  class="slick__box"
                  src="./images/slider_tablet/slider_tablet_2.jpg"
                  alt="руці у борошні й тісто"
                />
              </picture>
            </div>
            <div class="hotel-section-room__slick-item">
              <picture class="slick__box">
                <!-- desktop -->
                <source
                  srcset="
                    ./images/slider_desctop/slider_desctop_3.jpg    1x,
                    ./images/slider_desctop/slider_desctop_3_x2.jpg 2x
                  "
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />
                <!-- mobile and tablet -->
                <source
                  srcset="
                    ./images/slider_tablet/slider_tablet_3.jpg    1x,
                    ./images/slider_tablet/slider_tablet_3_x2.jpg 2x
                  "
                  media="(max-width: 1279px)"
                  type="image/jpeg"
                />
                <img
                  class="slick__box"
                  src="./images/slider_tablet/slider_tablet_3.jpg"
                  alt="руці у борошні й тісто"
                />
              </picture>
            </div>
            <div class="hotel-section-room__slick-item">
              <picture class="slick__box">
                <!-- desktop -->
                <source
                  srcset="
                    ./images/slider_desctop/slider_desctop_4.jpg    1x,
                    ./images/slider_desctop/slider_desctop_4_x2.jpg 2x
                  "
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />
                <!-- mobile and tablet -->
                <source
                  srcset="
                    ./images/slider_tablet/slider_tablet_4.jpg    1x,
                    ./images/slider_tablet/slider_tablet_4_x2.jpg 2x
                  "
                  media="(max-width: 1279px)"
                  type="image/jpeg"
                />
                <img
                  class="slick__box"
                  src="./images/slider_tablet/slider_tablet_4.jpg"
                  alt="руці у борошні й тісто"
                />
              </picture>
            </div>
            <div class="hotel-section-room__slick-item">
              <picture class="slick__box">
                <!-- desktop -->
                <source
                  srcset="
                    ./images/slider_desctop/slider_desctop_5.jpg    1x,
                    ./images/slider_desctop/slider_desctop_5_x2.jpg 2x
                  "
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />
                <!-- mobile and tablet -->
                <source
                  srcset="
                    ./images/slider_tablet/slider_tablet_5.jpg    1x,
                    ./images/slider_tablet/slider_tablet_5_x2.jpg 2x
                  "
                  media="(max-width: 1279px)"
                  type="image/jpeg"
                />
                <img
                  class="slick__box"
                  src="./images/slider_tablet/slider_tablet_5.jpg"
                  alt="руці у борошні й тісто"
                />
              </picture>
            </div>
          </div>
        </div>
        <div class="hotel-section-room__slider-nav"></div>
      </div>

      <div class="hotel-section-room__button-container">
        <a class="hotel-section-room__button" href="./room.html"> Детальніше</a>
        <button class="hotel-section-room__button btn_sign" type="button">
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
  </div>
</section>
