body {

    &.modal-open {
        overflow: hidden;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;

    @media screen and (min-width: 414px) {

    }

    @media screen and (min-width: 1024px) {
        display: flex;

    }

    @media screen and (min-width: 1280px) {

    }
}

.section {

}

.title {

}