/* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v25-latin_cyrillic-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/montserrat-v25-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/montserrat-v25-latin_cyrillic-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/montserrat-v25-latin_cyrillic-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/montserrat-v25-latin_cyrillic-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/montserrat-v25-latin_cyrillic-regular.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-500 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v25-latin_cyrillic-500.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/montserrat-v25-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/montserrat-v25-latin_cyrillic-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/montserrat-v25-latin_cyrillic-500.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/montserrat-v25-latin_cyrillic-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/montserrat-v25-latin_cyrillic-500.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-600 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v25-latin_cyrillic-600.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/montserrat-v25-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/montserrat-v25-latin_cyrillic-600.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/montserrat-v25-latin_cyrillic-600.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/montserrat-v25-latin_cyrillic-600.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/montserrat-v25-latin_cyrillic-600.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-700 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v25-latin_cyrillic-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/montserrat-v25-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/montserrat-v25-latin_cyrillic-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/montserrat-v25-latin_cyrillic-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/montserrat-v25-latin_cyrillic-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/montserrat-v25-latin_cyrillic-700.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Times New Roman';
    src: url('../fonts/Times_New_Roman.eot');
    src: local(''),
        url('../fonts/Times_New_Roman.eot?#iefix') format("embedded-opentype"),
        url('../fonts/Times_New_Roman.woff2') format("woff2"),
        url('../fonts/Times_New_Roman.woff') format("woff"),
        url('../fonts/Times_New_Roman.ttf') format("truetype"),
        url('../fonts/Times_New_Roman.svg#Times New Roman') format("svg");
}

@font-face {
    font-family: 'Film P3';
    src: url('../fonts/FilmP3Bold.eot');
    src: local('Film P3 Bold'), local('FilmP3Bold'),
        url('../fonts/FilmP3Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FilmP3Bold.woff2') format('woff2'),
        url('../fonts/FilmP3Bold.woff') format('woff'),
        url('../fonts/FilmP3Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
