@mixin tablet-down {
  @media screen and (max-width: 1023px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (min-width: 414px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin desktop-down {
  @media screen and (max-width: 1279px) {
    @content;
  }
}

@function screen-width($width) {
  @return map-get($breakpoints-list, $width);
}

@mixin respond-to($max-min, $breakpoint) {
  @if map-has-key($breakpoints-list, $breakpoint) and $max-min == 'min' {
    @media screen and (min-width: map-get($breakpoints-list, $breakpoint)) {
      @content;
    }
  }
  @if map-has-key($breakpoints-list, $breakpoint) and $max-min == 'max' {
    @media screen and (max-width: calc(map-get($breakpoints-list, $breakpoint) - 1px)) {
      @content;
    }
  }
}
@mixin slider-two-images-before-phone(
  $width,
  $margin,
  $arrow-distance-from-left: 0px,
  $arrow-distance-from-top: 20px,
  $left-shift: 0px,
  $right-shift: 0px,
  $dist: 1
) {
  @include respond-to('max', 'phone') {
    $screen-width: calc(100vw - 30px);
    $dist: calc((100vw) / (414px));
  }
  &__wrapper {
    display: flex;
    gap: calc($margin * $dist);
    width: calc($width * $dist);
    // gap: calc($margin);
    // width: calc($width);
    position: relative;
    left: calc($left-shift * $dist);
    right: calc($right-shift * $dist);
  }
  &__slider-list {
    margin: 0;
    padding: 0;
    width: calc($width * $dist);
    background: #dadada;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
  }
  &__image {
    display: block;
    width: calc($width * $dist);
    height: calc($width * $dist);
  }
  &__item {
    object-fit: cover;
    object-position: center;
    width: calc($width * $dist);
    height: calc($width * $dist);
  }
  &__buttons-wrapper {
    position: absolute;
    top: calc(100% + $arrow-distance-from-top);
    left: calc($arrow-distance-from-left * $dist);
    display: flex;
    justify-content: space-between;
    width: 108px;
  }
  &__button {
    display: flex;
    width: 50px;
    height: 25px;
    justify-content: center;
    align-items: center;
    fill: black;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
@mixin slider-two-images(
  $width,
  $margin,
  $arrow-distance-from-left: 0,
  $arrow-distance-from-top: 20px,
  // $arrows-distance-from-right: 0px,
  // $arrow-distance-from-bottom: 48px,
  // $arrow-distance-from-arrow: 34px,
  // $right-shift: 0px
) {
  &__wrapper {
    display: flex;
    flex-shrink: 1;
    gap: $margin;
    position: relative;
  }
  &__slider-list {
    margin: 0;
    padding: 0;
    width: $width;
    background: #dadada;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
  }
  &__image {
    display: block;
    width: $width;
    height: auto;
  }
  &__item {
    object-fit: cover;
    object-position: center;
    width: $width;
    height: $width;
  }
  &__buttons-wrapper {
    position: absolute;
    top: calc(100% + $arrow-distance-from-top);
    left: calc($arrow-distance-from-left);
    display: flex;
    justify-content: space-between;
    width: 108px;
  }
  &__button {
    display: flex;
    width: 50px;
    height: 25px;
    justify-content: center;
    align-items: center;
    fill: black;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

@mixin three-cards-slider($width-max, $width-min, $margin, $place-of-big) {
  position: relative;
  width: calc($width-max + ($width-min + $margin) * 2 - 0px);
  left: calc(($width-min + $margin) * (0) - 0px);
  left: 0;
  overflow: hidden;
  & img {
    width: $width-min;
    height: $width-max;
    object-fit: cover;
    object-position: center;
  }
  & li {
    margin-right: $margin;
    display: inline;
  }
  & ul {
    margin: 0;
    // padding: 0 0 70px;
    //
    width: calc($width-max + ($width-min + $margin) * 4);
    @if $place-of-big == 'right' {
      left: 0;
    }
    @if $place-of-big == 'center' {
      left: calc(($width-min + $margin) * (-1));
    }
    @if $place-of-big == 'left' {
      left: calc(($width-min + $margin) * (-2));
    }
  }
  & li.slick-active > img {
    width: $width-max;
    object-fit: cover;
    object-position: center;
  }
  &__buttons-wrapper {
    position: absolute;
    // top: calc(100% + $arrow-distance-from-top);
    // left: calc($arrow-distance-from-left);
    display: flex;
    justify-content: space-between;
    width: 108px;
  }
  &__button {
    display: flex;
    width: 50px;
    height: 25px;
    justify-content: center;
    align-items: center;
    fill: black;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  & .slick-prev.slick-arrow {
    position: absolute;
    width: 30px;
    height: 20px;
    top: 90%;
    left: 40%;
    z-index: 5;
  }

  & .slick-next.slick-arrow {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 20px;
    top: 90%;
    left: 55%;
    z-index: 5;
  }
}
