@mixin respond-to($max-min, $breakpoint) {
  @if map-has-key($breakpoints-list, $breakpoint) and $max-min == 'min' {
    @media screen and (min-width: map-get($breakpoints-list, $breakpoint)) {
      @content;
    }
  }
  @if map-has-key($breakpoints-list, $breakpoint) and $max-min == 'max' {
    @media screen and (max-width: calc(map-get($breakpoints-list, $breakpoint) - 1px)) {
      @content;
    }
  }
}

@mixin tablet-down {
   @media screen and (max-width: 1023px) {
      @content;
   }
}

@mixin mobile {
   @media screen and (min-width: 414px) {
      @content;
   }
}

@mixin tablet {
   @media screen and (min-width: 1024px) {
      @content;
   }
}

@mixin desktop {
   @media screen and (min-width: 1280px) {
      @content;
   }
}

@mixin desktop-down {
   @media screen and (max-width: 1279px) {
      @content;
   }
}