$accent-color: #f3c653;
$second-accent-color: #c79002;
$bg-gradient-color: rgba(186, 186, 186, 0.4);
$bg-gradient-footer-color: rgba(122, 122, 122, 0.4);
$icons-footer-color: rgba(243, 198, 83, 0.7);
$small-images-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
$big-images-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
// titles, dark buttons and menu color
$main-dark-color: #000000;
$main-light-color: #ffffff;
// use for tablet
$logo-header-room-color: #fffdee;
$logo-header-hotel-color: #f0ecd6;
// use for mobile
$logo-header-rest-color: #fdfbec;
// use in placeholders on homepage
$logo-homepage-color: #828282;
$logo-rest-hotel-color: #494848;
$text-hotel-color: #7a7a7a;
$text-rest-homepage-color: #5f5f5f;
$subtitles-color: #b4b4b4;
$address-header-color: #e5e5e5;
$net-icon-color: rgba(243, 198, 83, 0.7);
$buttons-light-color: rgba(0, 0, 0, 0.4);
// use on dark background
$text-second-homepage-color: #bababa;
$background-light-color: #fffdee;
$background-dark-color: #f0ecd6;
$footer-background-color: #0e0c07;
$background-img-color: #dadada;
$background-section-color: rgba(0, 0, 0, 0.7);
// use for gradient
$background-gradient: rgba(186, 186, 186, 0.4);
$cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
// modalka placeholder
$modal-placeholder: #808080;
// modalka backdrop background color
$modal-backdrop: rgba(0, 0, 0, 0.2);
//slider
$slider-wrapper-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.15);
$slider-item-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.13);
$triple-slider-white: #fff;

$breakpoints-list: (
  'phone': 414px,
  'tablet': 1024px,
  'desktop': 1280px,
) !default;
$bg-color-homepage-main: rgba(0, 0, 0, 0.65);
$bg-gradient-homepage-add: rgba(0, 0, 0, 0);

// modalka placeholder
$modal-placeholder: #808080;
$modal-background: #ffffff;
$modal-black: #000000;
$modal-brown: #c79002;
$modal-accentYellow: #f3c653;

$shadow-color-photo: rgba(0, 0, 0, 0.25);
