<section class="about-hotel">
  <div class="container">
    <div class="about-hotel__text-wrapper">
      <p class="times">Amet minim mollit non</p>
      <svg>
        <use></use>
      </svg>
      <p class="about-hotel__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <picture class="about-hotel__bedroom">
      <source
        srcset="
          ./images/about_hotel/apartment_1.webp    1x,
          ./images/about_hotel/apartment_1@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        srcset="
          ./images/about_hotel/apartment_1.jpg    1x,
          ./images/about_hotel/apartment_1@2x.jpg 2x
        "
        type="image/jpeg"
      />
      <img
        src="./images/about_hotel/apartment_1.jpg"
        alt="сучасний номер-стидія із двомісним ліжком"
        width="244"
        height="322"
      />
    </picture>
    <div class="about-hotel__room-wrapper">
      <p class="about-hotel__text--brown">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <picture class="about-hotel__hall">
        <source
          srcset="
            ./images/about_hotel/apartment_2.webp    1x,
            ./images/about_hotel/apartment_2@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/about_hotel/apartment_2.jpg    1x,
            ./images/about_hotel/apartment_2@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <img
          src="./images/about_hotel/apartment_2.jpg"
          alt="сучасний номер-стидія із каміном у вітальні"
          width="200"
          height="278"
        />
      </picture>
    </div>
  </div>
</section>
