<section class="home-contacts">
    <div class="home-contacts__section-gradient">
        <div class="home-contacts__container">
            <div class="home-contacts__box">
                <div class="home-contacts__box1">
                    <h2 class="visually-hidden">Контактна інформація</h2>
                    <p class="home-contacts__logo">mimiho</p>
                    <h3 class="home-contacts_title">Ресторанно-готельний
                        комплекс</h3>
                    <address class="home-contacts__address">
                        <ul class="home-contacts__list">
                            <li class="home-contacts__item">
                                        <p class="home-contacts__text">Ресторан</p>
                                    <div class="home-contacts__style-box">
                                        <a class="home-contacts__link" href="tel:+380955559533">
                                            <svg class="home-contacts__icon" width="24px" height="24px">
                                                <use href="./images/svg/icons.svg#phone"></use>
                                            </svg>
                                            095 555 95 33
                                        </a>
                                    </div>
                            </li>
                            
                        <li class="home-contacts__item">
                                    <p class="home-contacts__text">Готель</p>
                                <div class="home-contacts__style-box">
                                    <a class="home-contacts__link " href="tel:+380668491089">
                                        <svg class="home-contacts__icon" width="24px" height="24px">
                                        <use href="./images/svg/icons.svg#phone"></use>
                                        </svg>
                                        066 849 10 89
                                    </a>
                                    <a class="home-contacts__link" href="tel:+380672758540">
                                    067 275 85 40</a>
                                </div>
                        </li>

                            <li class="home-contacts__item">
                                    <p class="home-contacts__text home-contacts__text--hiden">Адреса</p> 
                                <div class="home-contacts__style-box">
                                        <a class="home-contacts__location" href="https://goo.gl/maps/nCRCqF7u8mZtbLEB7" target="_blank"
                                    rel="noopener noreferrer nofollow">
                                        <svg class="home-contacts__icon" width="24px" height="24px">
                                            <use href="./images/svg/icons.svg#map_location"></use>
                                        </svg>
                                        Україна, м. Полтава,<br>
                                        вул. Маршала Бірюзова, 15
                                        </a>
                                </div>
                            </li>
                        </ul>
                    </address>
                </div>
            
                <div class="home-contacts__map-box">
                    <iframe class="home-contacts__map"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17698.19936509643!2d34.520643230195084!3d49.597027878401896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0YPQuy4g0JzQsNGA0YjQsNC70LAg0JHQuNGA0Y7Qt9C-0LLQsCwgMTUsINCf0L7Qu9GC0LDQstCwLCDQn9C-0LvRgtCw0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgMzYwMDA!5e1!3m2!1sru!2sua!4v1670034301768!5m2!1sru!2sua"
                        width="600" height="450" style="border: 0;;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</section>