<div class="hero-main-background">
  <header id="home">
    <div class="hh-container">
      <div class="header-container">
        <a href="./index.html" class="header-logo">mimiho</a>
        <ul class="header-nav">
          <li class="header-nav__item">
            <a class="header-nav__link" href="./restaurant.html">Ресторан</a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__contact" href="tel:+380955559533">
              <svg class="header-nav__contact-icon">
                <use href="./images/svg/icons.svg#phone"></use>
              </svg>
              <p class="header-nav__tel">095 555 95 33</p></a
            >
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="./hotel.html">Готель</a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__contact" href="tel:+380668491089">
              <svg class="header-nav__contact-icon">
                <use href="./images/svg/icons.svg#phone"></use>
              </svg>
              <p class="header-nav__tel header-nav__tel--margin-right">
                066 849 10 89
              </p>
              <p class="header-nav__tel">067 275 85 40</p></a
            >
          </li>
        </ul>
      </div>
    </div>
  </header>

  <section class="hero">
    <div class="hh-container">
      <h1 class="hero__title">mimiho</h1>
      <h2 class="hero__sub-title">Ресторанно-готельний комплекс</h2>
      <p class="hero__text">смак життя 24/7</p>
      <div class="hero__elements-position">
        <a
          class="hero__map-location"
          href="https://goo.gl/maps/nCRCqF7u8mZtbLEB7"
          target="_blank"
          rel="noopener noreferrer nofollow"
          ><svg class="hero__map-location-icon">
            <use href="./images/svg/icons.svg#map_location"></use>
          </svg>
          Україна, м. Полтава,<br />
          вул. Маршала Бірюзова, 15</a
        >
        <button
          class="hero__button hero__button--margin-right btn-open-book-table"
          type="button"
        >
          Забронювати столик
        </button>
        <button
          class="hero__button hero__button--shorter btn-open-book-room"
          type="button"
        >
          Забронювати номер
        </button>
      </div>
      <ul class="hero__social">
        <li class="hero__social-item">
          <a
            class="hero__social-link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            ><svg class="hero__social-icon">
              <use href="./images/svg/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="hero__social-item">
          <a
            class="hero__social-link"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="hero__social-icon">
              <use href="./images/svg/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="hero__social-item">
          <a
            class="hero__social-link"
            href="https://xn--80affa3aj0al.xn--80asehdb/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            ><svg class="hero__social-icon">
              <use href="./images/svg/icons.svg#telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </section>
</div>
