<section class="hotel_details">
  <div class="hotel_details__container">
    <div class="hotel_details__info">
      <h2 class="hotel_details__title">
        <a href="#" class="hotel_details__logo link">mimiho</a>
      </h2>
      <h3 class="hotel_details__sub-title">Готель</h3>
      <p class="hotel_details__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="hotel_details__photo-scroll"></div>
    <div class="hotel_details__buttons">
      <button type="button" class="header-button">Забронювати номер</button>
      <button type="button" class="header-button">Переглянути ціни</button>
    </div>
    <div class="hotel_details__slider-wrapper">
      <div class="slick variable-width">
        <div class="hotel_details__slick-item">
          <picture class="slick__box">
            <!-- mobile and desktop -->
            <source
              media="(max-width: 1023px), (min-width: 1280px)"
              srcset="
                ./images/about_kitchen/mobile/dough-and-flour.webp    1x,
                ./images/about_kitchen/mobile/dough-and-flour@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 1023px), (min-width: 1280px)"
              srcset="
                ./images/about_kitchen/mobile/dough-and-flour.jpg    1x,
                ./images/about_kitchen/mobile/dough-and-flour@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <!-- tablet -->
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/about_kitchen/tablet/tablet-dough-and-flour.webp    1x,
                ./images/about_kitchen/tablet/tablet-dough-and-flour@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/about_kitchen/tablet/tablet-dough-and-flour.jpg    1x,
                ./images/about_kitchen/tablet/tablet-dough-and-flour@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img
              class="slick__box"
              src="./images/about_kitchen/mobile/dough-and-flour.jpg"
              alt="руці у борошні й тісто"
            />
          </picture>
        </div>
        <div class="hotel_details__slick-item">
          <picture class="slick__box">
            <!-- mobile and desktop -->
            <source
              media="(max-width: 1023px), (min-width: 1280px)"
              srcset="
                ./images/about_kitchen/mobile/manti.webp    1x,
                ./images/about_kitchen/mobile/manti@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 1023px), (min-width: 1280px)"
              srcset="
                ./images/about_kitchen/mobile/manti.jpg    1x,
                ./images/about_kitchen/mobile/manti@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <!-- tablet -->
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/about_kitchen/tablet/tablet-manti.webp    1x,
                ./images/about_kitchen/tablet/tablet-manti@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/about_kitchen/tablet/tablet-manti.jpg    1x,
                ./images/about_kitchen/tablet/tablet-manti@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img
              class="slick__box"
              src="./images/about_kitchen/mobile/manti.jpg"
              alt="манти"
            />
          </picture>
        </div>
        <div class="hotel_details__slick-item">
          <picture class="slick__box">
            <!-- mobile and desktop -->
            <source
              media="(max-width: 1023px), (min-width: 1280px)"
              srcset="
                ./images/about_kitchen/mobile/desert.webp    1x,
                ./images/about_kitchen/mobile/desert@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 1023px), (min-width: 1280px)"
              srcset="
                ./images/about_kitchen/mobile/desert.jpg    1x,
                ./images/about_kitchen/mobile/desert@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <!-- tablet -->
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/about_kitchen/tablet/tablet-desert.webp    1x,
                ./images/about_kitchen/tablet/tablet-desert@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/about_kitchen/tablet/tablet-desert.jpg    1x,
                ./images/about_kitchen/tablet/tablet-desert@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img
              class="slick__box"
              src="./images/about_kitchen/mobile/desert.jpg"
              alt="десертний столік із ласощами"
            />
          </picture>
        </div>
        <div class="hotel_details__slick-item">
          <picture class="slick__box">
            <!-- mobile and desktop -->
            <source
              media="(max-width: 1023px), (min-width: 1280px)"
              srcset="
                ./images/about_kitchen/mobile/breakfast.webp    1x,
                ./images/about_kitchen/mobile/breakfast@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 1023px), (min-width: 1280px)"
              srcset="
                ./images/about_kitchen/mobile/breakfast.jpg    1x,
                ./images/about_kitchen/mobile/breakfast@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <!-- tablet -->
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/about_kitchen/tablet/tablet-breakfast.webp    1x,
                ./images/about_kitchen/tablet/tablet-breakfast@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/about_kitchen/tablet/tablet-breakfast.jpg    1x,
                ./images/about_kitchen/tablet/tablet-breakfast@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img
              class="slick__box"
              src="./images/about_kitchen/mobile/breakfast.jpg"
              alt="столік на терассі на якому накритий сніданок"
            />
          </picture>
        </div>
        <div class="hotel_details__slick-item">
          <picture class="slick__box">
            <!-- mobile and desktop -->
            <source
              media="(max-width: 1023px), (min-width: 1280px)"
              srcset="
                ./images/about_kitchen/mobile/oysters.webp    1x,
                ./images/about_kitchen/mobile/oysters@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 1023px), (min-width: 1280px)"
              srcset="
                ./images/about_kitchen/mobile/oysters.jpg    1x,
                ./images/about_kitchen/mobile/oysters@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <!-- tablet -->
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/about_kitchen/tablet/tablet-oysters.webp    1x,
                ./images/about_kitchen/tablet/tablet-oysters@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/about_kitchen/tablet/tablet-oysters.jpg    1x,
                ./images/about_kitchen/tablet/tablet-oysters@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img
              class="slick__box"
              src="./images/about_kitchen/mobile/oysters.jpg"
              alt="устриці"
            />
          </picture>
        </div>
      </div>
    </div>
    <div class="slider-nav"></div>
  </div>
</section>
