<section class="hotel_details">
  <div class="hotel_details__content">
    <div class="hotel_details__liner-gradient">
      <div class="hotel_details__container">
        <div class="hotel_details__info">
          <h2 class="hotel_details__title">
            <a href="/src/index.html" class="hotel_details__logo link"
              >mimiho</a
            >
          </h2>
          <h3 class="hotel_details__sub-title">Готель</h3>
          <p class="hotel_details__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit.
          </p>
        </div>
        <div class="hotel_details__buttons">
          <button class="header-button btn-open-book-room" type="button">
            Забронювати номер
          </button>
          <button type="button" class="header-button btn_sign">
            Переглянути ціни
          </button>
        </div>
          <div class="hotel_details__slider-wrapper">
            <div class="slick hotel_details__triple-slider">
              <div class="hotel_details__slick-item">
                <picture class="slick__box">
                  <source
                    media="(max-width: 1023px), (min-width: 1280px)"
                    srcset="
                      ./images/hotel_details/slider/bedroom.webp    1x,
                      ./images/hotel_details/slider/bedroom@2x.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(max-width: 1023px), (min-width: 1280px)"
                    srcset="
                      ./images/hotel_details/slider/bedroom.jpg    1x,
                      ./images/hotel_details/slider/bedroom@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />
                  <img
                    class="slick__box"
                    src="./images/hotel_details/slider/bedroom.jpg"
                    alt="спяльня для закоханих із великим двомісним ліжком"
                  />
                </picture>
              </div>
              <div class="hotel_details__slick-item">
                <picture class="slick__box">
                  <source
                    media="(max-width: 1023px), (min-width: 1280px)"
                    srcset="
                      ./images/hotel_details/slider/breakfast.webp    1x,
                      ./images/hotel_details/slider/breakfast@2x.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(max-width: 1023px), (min-width: 1280px)"
                    srcset="
                      ./images/hotel_details/slider/breakfast.jpg    1x,
                      ./images/hotel_details/slider/breakfast@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />
                  <img
                    class="slick__box"
                    src="./images/hotel_details/slider/breakfast.jpg"
                    alt="сніданок із бельгійської вафлі, яєшні і апельсинового соку"
                  />
                </picture>
              </div>
              <div class="hotel_details__slick-item">
                <picture class="slick__box">
                  <source
                    media="(max-width: 1023px), (min-width: 1280px)"
                    srcset="
                      ./images/hotel_details/slider/reception.webp    1x,
                      ./images/hotel_details/slider/reception@2x.webp 2x
                    "
                    type="image/webp"
                  />
                  <source
                    media="(max-width: 1023px), (min-width: 1280px)"
                    srcset="
                      ./images/hotel_details/slider/reception.jpg    1x,
                      ./images/hotel_details/slider/reception@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />
                  <img
                    class="slick__box"
                    src="./images/hotel_details/slider/reception.jpg"
                    alt="відвідувачка готелю із валізою біля ресепшену"
                  />
                </picture>
              </div>
            </div>
            <div class="hotel_details__slider-nav">
          </div>
          
      </div>
    </div>
  </div>
</section>
