<section class="hotel_details">
  <div class="hotel_details__container">
    <div class="hotel_details__info">
      <h2 class="hotel_details__title">
        <a href="#" class="hotel_details__logo link">mimiho</a>
      </h2>
      <h3 class="hotel_details__sub-title">Готель</h3>
      <p class="hotel_details__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="hotel_details__photo-scroll"></div>
    <div class="hotel_details__buttons">
      <button type="button" class="header-button">Забронювати номер</button>
      <button type="button" class="header-button">Переглянути ціни</button>
    </div>
  </div>
</section>
