<section class="restaurant-details">
  <div class="container restaurant-details-section-container">
    <div class="restaurant-details__container">
      <div class="restaurant-details__wrapper-second">
        <h2 class="restaurant-details__logo-name">Mimiho</h2>
        <h3 class="restaurant-details__title">Ресторан</h3>
         <p class="restaurant-details__info">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
        <div class="restaurant-details-slider__wrapper">
         <div class="restaurant-details-slider__container">
          <ul class="restaurant-details-slider slick variable-width">
            <li
              class="restaurant-details-slider__item restaurant-details-slider__item--big
              restaurant-details-slider__item--big-desktop"
            >
            <picture>
              <source srcset="
                  ././images/about-restaurant_last/friedMeat-270_1x.jpg 1x,
                  ././images/about-restaurant_last/friedMeat-270_2x.jpg 2x"
                sizes='70px' > 
                
                <img
                class="restaurant-details-slider__image restaurant-details-slider__image--big restaurant-details-slider__image--big-desktop"
                
                src="././images/about-restaurant_last/friedMeat-270_1x.jpg"
               
                alt="Страва зы смаженим м'ясом"
              />
            </picture>
            </li>
            <li
              class="restaurant-details-slider__item restaurant-details-slider__item--small-tablet restaurant-details-slider__item--big-desktop"
            > <picture>
 <source srcset="
                  ././images/about-restaurant_last/saladPlate-270_1x.jpg 1x,
                  ././images/about-restaurant_last/saladPlate-270_2x.jpg 2x
                " sizes='70px' >
              <img
                class="restaurant-details-slider__image restaurant-details-slider__image--small-tablet
                restaurant-details-slider__image--big-desktop"
                src="././images/about-restaurant_last/saladPlate-270_1x.jpg"
                alt="страва із салатом"
              />
            </picture>
           
            </li>
            <li
              class="restaurant-details-slider__item restaurant-details-slider__item--small-tablet
              restaurant-details-slider__item--small-desktop"
            ><picture>
              <source srcset="
                  ././images/about-restaurant_last/seaFood-270_1x.jpg 1x,
                  ././images/about-restaurant_last/seaFood-270_2x.jpg 2x
                " sizes='70px' >
                <img
                class="restaurant-details-slider__image restaurant-details-slider__image--small-tablet
                restaurant-details-slider__image--small--desktop"
                
                src="././images/about-restaurant_last/seaFood-270_1x.jpg"
                alt="страва з морепродуктами"
              />
            </picture>
              
            </li>      
            <li
              class="restaurant-details-slider__item restaurant-details-slider__item--big restaurant-details-slider__item--big-desktop"
            >
            <picture>
              <source srcset="
                  ././images/about-restaurant_last/friedMeat-270_1x.jpg 1x,
                  ././images/about-restaurant_last/friedMeat-270_2x.jpg 2x
                " sizes='70px' >
                <img
                class="restaurant-details-slider__image restaurant-details-slider__image--big restaurant-details-slider__image--big-desktop"
                src="././images/about-restaurant_last/friedMeat-270_1x.jpg"
                alt="страва зі смаженим м'ясом"
              />
            </picture>
              
            </li>
            <li
              class="restaurant-details-slider__item restaurant-details-slider__item--small-tablet restaurant-details-slider__item--big-desktop"
            >
            <picture>
              <source srcset="
                  ././images/about-restaurant_last/saladPlate-270_1x.jpg 1x,
                  ././images/about-restaurant_last/saladPlate-270_2x.jpg 2x
                " sizes='70px' >
                <img
                class="restaurant-details-slider__image restaurant-details-slider__image--small-tablet restaurant-details-slider__image--big-desktop"
               
                src="././images/about-restaurant_last/saladPlate-270_1x.jpg"
                alt="Страва з салатом"
              />
            </picture>
              
            </li>
            <li
              class="restaurant-details-slider__item restaurant-details-slider__item--small-tablet restaurant-details-slider__item--small-desktop"
            >
            <picture>
              <source srcset="
                  ././images/about-restaurant_last/seaFood-270_1x.jpg 1x,
                  ././images/about-restaurant_last/seaFood-270_2x.jpg 2x
                " sizes='70px' >
                <img
                class="restaurant-details-slider__image restaurant-details-slider__image--small-tablet restaurant-details-slider__image--small-desktop"
               
                src="././images/about-restaurant_last/seaFood-270_1x.jpg"
                alt="Страва з морепродуктами"
              />
            </picture>
              
            </li>    
         </ul>
    <div class="restaurant-details-slider__buttons">
      <div class="restaurant-details__slider-nav"></div>
          <button class="restaurant-details-slider__arrow-left" type="button">
      <svg width="30px" height="17px" class="restaurant-details-slider__arrow-left-svg">
        <use href="././images/svg/icons.svg#icon-prev-button""></use>
      </svg>
    </button>
    <button class="restaurant-details-slider__arrow-right" type="button">
      <svg width="30px" height="17px" class="restaurant-details-slider__arrow-right-svg">
        <use href="././images/svg/icons.svg#icon-next-button"></use>
      </svg>
    </button>
    </div>
        </div>
      </div>  
         
      </div> 
        <div class="restaurant-details__wrapper-first">  
        <button class="button restaurant-details__button btn-open-book-table" type="button">
          Забронювати столик
        </button>
        <a href="https://torn80beta.github.io/go_it_bl03_mimino/restaurant.html#menu" class="restaurant-details__button">Переглянути меню</a>  
      </div>
    </div>
  </div>
</section>

