<section class="restaurant-details">
  <div class="container restaurant-details-section-container">
    <div class="restaurant-details__container">
      <div class="restaurant-details__wrapper-second">
        <h2 class="restaurant-details__logo logo">MIMIHO</h2>
        <h1 class="restaurant-details__title">Ресторан</h1>
        <p class="restaurant-details__info">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
        <div class="restaurant-details-slider__wrapper">
          <div class="restaurant-details-slider__buttons-wrapper">
            <button
              type="button"
              class="restaurant-details-slider__button restaurant-details-slider__button--left"
            >
              <svg
                class="restaurant-details-slider__svg-left-arrow"
                width="30"
                height="17"
              >
                <use href="././images/svg/icons.svg#icon-prev-button"></use>
              </svg>
            </button>
            <button
              type="button"
              class="restaurant-details-slider__button restaurant-details-slider__button--right"
            >
              <svg
                class="restaurant-details-slider__svg-right-arrow"
                width="30"
                height="17"
              >
                <use href="././images/svg/icons.svg#arrow-right"></use>
              </svg>
            </button>
          </div>
          <ul
            class="restaurant-details-slider__slider-list multiple-items restaurant-details-slider__first first-slider-details-page-restaurant"
          >
            <li class="restaurant-details-slider__item">
              <img
                class="restaurant-details-slider__image"
                srcset="
                  ././images/about-restaurant_last/fried-Meat-270_1x.jpg 1x,
                  ././images/about-restaurant_last/fried-Meat-270_2x.jpg 2x
                "
                width="270"
                alt="страва зі смаженим м'ясом"
              />
            </li>
            <li class="restaurant-details-slider__item">
              <img
                class="restaurant-details-slider__image"
                srcset="
                  ././images/about-restaurant_last/saladPlate-270_1x.jpg 1x,
                  ././images/about-restaurant_last/saladPlate-270_2x.jpg 2x
                "
                width="270"
                alt="страва з салатом"
              />
            </li>
            <li class="restaurant-details-slider__item">
              <img
                class="restaurant-details-slider__image"
                srcset="
                  ././images/about-restaurant_last/seaFood-270_1x.jpg 1x,
                  ././images/about-restaurant_last/seaFood-270_2x.jpg 2x
                "
                width="270"
                alt="страва шз морепродуктами"
              />
            </li>
          </ul>
          <ul
            class="restaurant-details-slider__slider-list multiple-items restaurant-details-slider__first second-slider-details-page-restaurant"
          >
            <li class="restaurant-details-slider__item">
              <img
                class="restaurant-details-slider__image"
                srcset="
                  ././images/about-restaurant_last/saladPlate-270_1x.jpg 1x,
                  ././images/about-restaurant_last/saladPlate-270_2x.jpg 2x
                "
                width="270"
                alt="страва з салатом"
              />
            </li>
            <li class="restaurant-details-slider__item">
              <img
                class="restaurant-details-slider__image"
                srcset="
                  ././images/about-restaurant_last/seaFood-270_1x.jpg 1x,
                  ././images/about-restaurant_last/seaFood-270_2x.jpg 2x
                "
                width="270"
                alt="страва шз морепродуктами"
              />
            </li>
            <li class="restaurant-details-slider__item">
              <img
                class="restaurant-details-slider__image"
                srcset="
                  ././images/about-restaurant_last/fried-Meat-270_1x.jpg 1x,
                  ././images/about-restaurant_last/fried-Meat-270_2x.jpg 2x
                "
                width="270"
                alt="страва зі смаженим м'ясом"
              />
            </li>
          </ul>
        </div>
        <div
          class="restaurant-details__wrapper-slider-three-cards restaurant-details__slider-three-cards"
        >
          <ul
            class="restaraunt-details__slider-list restaurant-details__slider-third restaurant-details__slider-three-card-list"
          >
            <li
              class="restaraunt-details__slider-item restaurant-details__slider-three-card-item"
            >
              <img
                class="restaraunt-details__slider-image"
                srcset="
                  ././images/about-restaurant_last/fried-Meat-270_1x.jpg 1x,
                  ././images/about-restaurant_last/fried-Meat-270_1x.jpg 2x
                "
                src="././images/about-restaurant_last/fried-Meat-270_1x.jpg"
                ;
                alt=""
              />
            </li>
            <li
              class="restaraunt-details__slider-item restaurant-details__slider-three-card-item"
            >
              <img
                class="restaraunt-details__slider-image"
                srcset="
                  ././images/about-restaurant_last/saladPlate-270_1x.jpg 1x,
                  ././images/about-restaurant_last/saladPlate-270_1x.jpg 1x
                "
                src="././images/about-restaurant_last/saladPlate-270_1x.jpg"
                alt=""
              />
            </li>
            <li
              class="restaraunt-details__slider-item restaurant-details__slider-three-card-item"
            >
              <img
                class="restaraunt-details__slider-image"
                srcset="
                  ././images/about-restaurant_last/seaFood-270_1x.jpg 1x,
                  ././images/about-restaurant_last/seaFood-270_1x.jpg 2x
                "
                src="././images/about-restaurant_last/seaFood-270_1x.jpg"
                alt=""
              />
            </li>
          </ul>
          <div class="restaurant-details-slider__buttons-wrapper">
            <button
              type="button"
              class="restaurant-details-slider__button restaurant-details-slider__button--left"
            >
              <svg
                class="restaurant-details-slider__svg-left-arrow"
                width="30"
                height="17"
              >
                <use href="././images/svg/icons.svg#icon-prev-button"></use>
              </svg>
            </button>
            <button
              type="button"
              class="restaurant-details-slider__button restaurant-details-slider__button--right"
            >
              <svg
                class="restaurant-details-slider__svg-right-arrow"
                width="30"
                height="17"
              >
                <use href="././images/svg/icons.svg#icon-next-button"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="restaurant-details__wrapper-first">
        <button class="button restaurant-details__button" type="button">
          Забронювати столик
        </button>
        <button class="button restaurant-details__button" type="button">
          Переглянути меню
        </button>
      </div>
    </div>
  </div>
</section>
