.bg-gradient {
    width: 414px;
    height: 1191px;
    background-image: linear-gradient(to right,
            $background-light-color 138px,
            rgba(186, 186, 186, 0.4) 139px,
            $background-light-color 140px,
            $background-light-color 273px,
            rgba(186, 186, 186, 0.4) 274px,
            $background-light-color 275px);

    @media screen and (min-width: 1024px) {
        width: 1024px;
        height: 1238px;
        background-image: linear-gradient(to right,
                $background-light-color 278px,
                rgba(186, 186, 186, 0.4) 279px,
                $background-light-color 280px,
                $background-light-color 511px,
                rgba(186, 186, 186, 0.4) 512px,
                $background-light-color 513px,
                $background-light-color 745px,
                rgba(186, 186, 186, 0.4) 746px,
                $background-light-color 747px);
    }

    @media screen and (min-width: 1280px) {
        width: 1280px;
        height: 1257px;
        background-image: linear-gradient(to right,
                $background-light-color 338px,
                rgba(186, 186, 186, 0.4) 339px,
                $background-light-color 340px,
                $background-light-color 639px,
                rgba(186, 186, 186, 0.4) 640px,
                $background-light-color 641px,
                $background-light-color 941px,
                rgba(186, 186, 186, 0.4) 942px,
                $background-light-color 943px);
    }
}