.footer {
    position: relative;
    margin: auto;
    max-width: 1280px;
    background-color: $footer-background-color;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 1024px) {
        justify-content: normal;
    }
}

.footer-grad {
    background-image: linear-gradient(to right,
            $footer-background-color 273px,
            $bg-gradient-footer-color 274px,
            $footer-background-color 275px);

    @media screen and (max-width: 414px) {
        background-image: linear-gradient(to right,
                $footer-background-color 273px,
                // $bg-gradient-footer-color 274px,
                $footer-background-color 275px);
    }


    @media screen and (min-width: 1024px) {
        margin: 0 auto;
        width: 1024px;
        background-image: linear-gradient(to right,
                $footer-background-color 511px,
                $bg-gradient-footer-color 512px,
                $footer-background-color 513px,
                $footer-background-color 745px,
                $bg-gradient-footer-color 746px,
                $footer-background-color 747px);
    }

    @media screen and (min-width: 1280px) {
        width: 1280px;
        background-image: linear-gradient(to right,
                $footer-background-color 639px,
                $bg-gradient-footer-color 640px,
                $footer-background-color 641px,
                $footer-background-color 941px,
                $bg-gradient-footer-color 942px,
                $footer-background-color 943px);
    }
}

.footer-container {
    display: flex;
    margin: auto;
    width: 100%;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;

    @media screen and (max-width: 414px) {
        min-width: 320px;
    }

    @media screen and (min-width: 414px) {
        max-width: 414px;
    }

    @media screen and (min-width: 1024px) {
        max-width: 1024px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 1280px;
    }
}


.footer__logo {
    display: block;
    font-family: 'Film P3', sans-serif;
    color: $accent-color;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    margin-left: 59px;
    margin-right: 70px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $second-accent-color;
    }

    @media screen and (max-width: 414px) {

        margin-right: 30px;
        margin-left: 10px;


    }


    @media screen and (min-width: 1024px) {

        margin-right: 148px;
        margin-left: 154px;
        font-size: 64px;
        width: 202px;
        height: 69px;


    }

    @media screen and (min-width: 1280px) {

        margin-right: 201px;
        margin-left: 231px;

    }
}


.footer__nav {
    display: flex;
    flex-direction: column;
    color: $accent-color;

    @media screen and (min-width: 1024px) {
        margin-right: 137px;

    }

    @media screen and (min-width: 1280px) {
        margin-right: 199px;

    }
}

.footer__link-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $accent-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $second-accent-color;
    }
}

.footer__link:not(:last-child) {
    margin-bottom: 16px;
}


.footer__soc-name {
    display: none;

    @media screen and (min-width: 1024px) {
        display: flex;
        margin-right: 15px;
    }
}


.footer__soc {
    display: flex;
    gap: 20px;
    margin-top: 32px;

    @media screen and (min-width: 1024px) {
        flex-direction: column-reverse;
        margin-top: 0px;
        gap: 0px;
        color: $accent-color;
    }
}

.footer__icon {
    fill: $icons-footer-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        fill: $second-accent-color;
    }
}


@media screen and (min-width: 1024px) {
    .footer__soc-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 143px;
        height: 40px;
        margin-bottom: 11px;
        border: 0.5px solid $icons-footer-color;
        border-radius: 2px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: $accent-color;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            border-color: $second-accent-color;
            color: $second-accent-color;
        }

        &:hover .footer__icon,
        &:focus .footer__icon {
            fill: $second-accent-color;
        }
    }
}


.footer__box {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    flex-direction: column;

    @media screen and (min-width: 1024px) {
        flex-direction: row;
        padding-top: 80px;
        padding-bottom: 80px;

    }
}

@media screen and (min-width: 1024px) {
    .footer__soc-box {
        display: flex;
        flex-direction: column-reverse;
    }
}
 
#up-button {
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.up-button {
    position: fixed;
    bottom: 65px;
    right: 15px;

    @media screen and (min-width: 470px) {
        bottom: 30px;
        right: 15px;
    }
    
    @media screen and (min-width: 1520px) {
        bottom: 10px;
        right: 150px;
    }
}

.up-button__link {
    width: 45px;
    height: 80px;
    fill: $accent-color;
    border-radius: 12px;
}