// Header and hero  backgrounds

.hero-room-background {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.hero-main-background {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: $footer-background-color;

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url(../images/hero_backgrounds/hero-main_414.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/hero_backgrounds/hero-main_414x2.jpg);
    }
  }

  @media screen and (min-width: 415px) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/hero_backgrounds/hero-main_1024.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)
          ),
          url(../images/hero_backgrounds/hero-main_1024x2.jpg);
      }
    }
  }

  @media screen and (min-width: 1025px) {
    max-width: 1280px;

    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/hero_backgrounds/hero-main_1280.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)
          ),
          url(../images/hero_backgrounds/hero-main_1280x2.jpg);
      }
    }
  }
}

.hero-restaurant-background {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: $footer-background-color;

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url(../images/hero_backgrounds/hero-restaurant_414.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/hero_backgrounds/hero-restaurant_414x2.jpg);
    }
  }

  @media screen and (min-width: 415px) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/hero_backgrounds/hero-restaurant_1024.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)
          ),
          url(../images/hero_backgrounds/hero-restaurant_1024x2.jpg);
      }
    }
  }

  @media screen and (min-width: 1025px) {
    max-width: 1280px;

    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/hero_backgrounds/hero-restaurant_1280.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)
          ),
          url(../images/hero_backgrounds/hero-restaurant_1280x2.jpg);
      }
    }
  }
}

.hero-hotel-background {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: $footer-background-color;

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url(../images/hero_backgrounds/hero-hotel_414.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/hero_backgrounds/hero-hotel_414x2.jpg);
    }
  }

  @media screen and (min-width: 415px) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/hero_backgrounds/hero-hotel_1024.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)
          ),
          url(../images/hero_backgrounds/hero-hotel_1024x2.jpg);
      }
    }
  }

  @media screen and (min-width: 1025px) {
    max-width: 1280px;

    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(../images/hero_backgrounds/hero-hotel_1280.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)
          ),
          url(../images/hero_backgrounds/hero-hotel_1280x2.jpg);
      }
    }
  }
}
