.rooms {
   margin-left: auto;
   margin-right: auto;
   padding-bottom: 32px;
   padding-top: 32px;
   background-color: $background-light-color;

   @include tablet {
      position: relative;
      padding-top: 62px;
      padding-bottom: 104px;
      background-image: repeating-linear-gradient(to right,
            $background-light-color,
            $background-light-color 25%,
            $background-gradient 0.1%,
            $background-gradient 25.1%);
   }

   @include desktop {
      max-width: 1280px;
      padding-top: 72px;
      padding-bottom: 112px;
   }
}
.rooms__container {
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
   overflow: hidden;

   @include mobile {
      max-width: 414px;
   }

   @include tablet {
      position: relative;
      overflow: visible;
      max-width: 1024px;
      padding-left: 47px;
      padding-right: 47px;
   }

   @include desktop {
      max-width: 1280px;
      padding-left: 85px;
      padding-right: 85px;

   }
}

.rooms__title {
   margin-bottom: 12px;
   color: $main-dark-color;
   font-family: 'Times New Roman', serif;
   font-size: 24px;
   line-height: 1.167;
   letter-spacing: 0.05em;
   text-transform: uppercase;

   @include tablet {
      font-size: 30px;
      line-height: 1.133;
      margin-bottom: 16px;
   }

   @include desktop {
      font-size: 36px;
      line-height: 1.139;
      margin-bottom: 24px;
   }

   &--lowercase {
      text-transform: lowercase;
   }
}

.rooms__text {
   margin-bottom: 32px;
   max-width: 258px;
   font-weight: 600;
   font-size: 12px;
   line-height: 1.25;
   letter-spacing: 0.02em;
   color: $text-rest-homepage-color;

   @include tablet {
      font-size: 16px;
      margin-bottom: 176px;
      max-width: 439px;
   }

   @include desktop {
      margin-bottom: 188px;
      max-width: 400px;
   }
}

.rooms__logo {
   display: block;
   margin-bottom: 32px;
   font-family: 'Film P3';
   font-weight: 700;
   font-size: 40px;
   line-height: 1.075;
   letter-spacing: 0.3em;
   color: $logo-rest-hotel-color;
   text-decoration: none;
   text-transform: uppercase;

   @include tablet {
      font-size: 64px;
      line-height: 1.078;
      margin-bottom: 62px;
   }

   @include desktop {
      margin-bottom: 72px;
   }
}

.rooms__slogan {
   margin-bottom: 8px;
   font-family: 'Times New Roman', serif;
   font-size: 20px;
   line-height: 1.15;
   color: $subtitles-color;

   @include tablet {
      margin-bottom: 4px;
      font-size: 32px;
      line-height: 1.156;
   }
}

.rooms__slider {
   display: flex;
      gap: 32px;
   
      @include tablet-down {
         margin-bottom: 20px;
      }
   
      @include tablet {
         position: absolute;
         right: 502px;
         top: 226px;
      }
      @include desktop {
         right: 555px;
         top: 294px;
      }
}

.rooms__picture {
   display: block;
   width: 244px;
   margin-left: auto;
   margin-bottom: 32px;
   background: $background-img-color;
   box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
   border-radius: 2px;

   @include tablet {
      position: absolute;
      top: -104px;
      right: 112px;
      width: 400px;
      margin-bottom: 0;
   }

   @include desktop {
      width: 460px;
      height: 574px;
      top: -105px;
      right: 180px;
   }
}

.rooms-gallery {
      @include tablet-down {
            margin-bottom: 20px;
         }
}

.rooms-gallery__list {
   position: relative;
   width: auto;
   right: 115px;
   display: flex;
   gap: 16px;

   @include tablet {
      position: static;
      right: 0;
      gap: 40px;
   }

}

.rooms-gallery__img {
   width: 194px;
   background: $background-img-color;
   box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
   border-radius: 2px;

   @include desktop {
      width: 254px;
   }

}

.rooms__item:not(:last-child) {
   margin-bottom: 16px;
}

.rooms__list {
   text-align: center;
}

.rooms__box {
   @include tablet {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}
.rooms__button--dark {
   background-color: $main-dark-color;
   color: $accent-color;
   width: 236px;
   padding: 14px 0;
   border: 2px solid $logo-header-room-color;
   border-radius: 25px;
   font-family: inherit;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.25;
   letter-spacing: 0.02em;
   cursor: pointer;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
      background-color: $main-light-color;
      border-color: $accent-color;
   }

}

.rooms__button-arrow {
   display: flex;
   background-color: transparent;
   border: none;
   align-items: center;
   padding: 0;
   fill: $main-dark-color;
   cursor: pointer;
}
// .bg-gradient {
//    width: 414px;
//    height: 1191px;
//    background-image: linear-gradient(to right,
//          $background-light-color 138px,
//          $bg-gradient-color 139px,
//          $background-light-color 140px,
//          $background-light-color 273px,
//          $bg-gradient-color 274px,
//          $background-light-color 275px);

//    @media screen and (min-width: 1024px) {
//       width: 1024px;
//       height: 1238px;
//       background-image: linear-gradient(to right,
//             $background-light-color 278px,
//             $bg-gradient-color 279px,
//             $background-light-color 280px,
//             $background-light-color 511px,
//             $bg-gradient-color 512px,
//             $background-light-color 513px,
//             $background-light-color 745px,
//             $bg-gradient-color 746px,
//             $background-light-color 747px);
//    }

//    @media screen and (min-width: 1280px) {
//       width: 1280px;
//       height: 1257px;
//       background-image: linear-gradient(to right,
//             $background-light-color 338px,
//             $bg-gradient-color 339px,
//             $background-light-color 340px,
//             $background-light-color 639px,
//             $bg-gradient-color 640px,
//             $background-light-color 641px,
//             $background-light-color 941px,
//             $bg-gradient-color 942px,
//             $background-light-color 943px);
//    }
// }