.triple-room {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: $logo-header-hotel-color;
  overflow: hidden;
}
.triple-room__container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @include mobile {
    width: 414px;
  }

  @include tablet {
    width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }

  @include desktop {
    width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
}
.triple-room__subtitle {
  margin-bottom: 8px;
  text-align: end;
  font-family: 'Times New Roman';
  font-weight: 400;
  font-size: 20px;
  line-height: calc(23 / 20);
  color: $subtitles-color;
}
.triple-room__logo {
  display: block;
  margin-bottom: 32px;
  text-align: end;
  font-family: 'Film P3';
  font-weight: 700;
  font-size: 40px;
  line-height: calc(43 / 40);
  letter-spacing: 0.3em;
  color: $logo-rest-hotel-color;
  text-transform: uppercase;
}
.text-box {
display: flex;
flex-direction: column;

}
.triple-room__title {
    text-align: end;
  margin-bottom: 12px;
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.05em;
  color: $main-dark-color;
  text-transform: uppercase;
}
.triple-room__text {
  //   margin-left: 98px;
  margin-bottom: 32px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;
  width: 242px;
  color: $text-rest-homepage-color;
}
.triple-room__img {
  margin-bottom: 32px;
  background: $background-img-color;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
.gallery-swiper {
  position: relative;
  left: 120px;
  display: flex;
  gap: 16px;
  margin-bottom: 27px;
}
.gallery-swiper__img {
  width: 194px;
  background: $background-img-color;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;

  @include desktop {
    width: 254px;
  }
}
.triple-room__slider{
    display: flex;
    justify-content: flex-end;
    gap: 33px;
    margin-bottom: 27px;
}
.triple-room__btn{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    fill: $main-dark-color;
    cursor: pointer;
}
.btn-list__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 236px;
  height: 48px;
  background-color: $main-dark-color;
  border: 2px solid $background-dark-color;
  border-radius: 25px;
  color: $accent-color;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.02em;
  padding: 14px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $main-light-color;
    border: 2px solid $accent-color;
  }
}
.btn-list__item:not(:last-child) {
  margin-bottom: 16px;
}
