.hotel-section-room-container {
  position: relative;
  max-width: 414px;
  margin-left: auto;
  margin-right: auto;
  padding: 32px 15px;

  @include tablet {
    max-width: 1024px;
      padding: 64px 47px 104px;
  }

  @include desktop {
  max-width: 1280px;
  padding: 72px 85px 182px;
  }
  
}

.hotel-section-room__wrapper {
  margin: 0 auto;
    max-width: 414px;
    background-image: linear-gradient(to right,
          $background-light-color 138px,
          $bg-gradient-color 139px,
          $background-light-color 140px,
          $background-light-color 273px,
          $bg-gradient-color 274px,
          $background-light-color 275px);
    
      @media screen and (min-width: 1024px) {
        max-width: 1024px;
        background-image: linear-gradient(to right,
            $background-light-color 278px,
            $bg-gradient-color 279px,
            $background-light-color 280px,
            $background-light-color 511px,
            $bg-gradient-color 512px,
            $background-light-color 513px,
            $background-light-color 745px,
            $bg-gradient-color 746px,
            $background-light-color 747px);
      }
    
      @media screen and (min-width: 1280px) {
        max-width: 1280px;
        background-image: linear-gradient(to right,
            $background-light-color 338px,
            $bg-gradient-color 339px,
            $background-light-color 340px,
            $background-light-color 639px,
            $bg-gradient-color 640px,
            $background-light-color 641px,
            $background-light-color 941px,
            $bg-gradient-color 942px,
            $background-light-color 943px);
      }
}

.hotel-section-room {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  background-color: $background-light-color;

  &__text {
    margin-bottom: 8px;
    font-family: 'Times New Roman';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    color: $subtitles-color;

    @media screen and (min-width: 1024px) {
      margin-bottom: 4px;
      font-size: 32px;
      line-height: 1.16;
    }
  }

  &__logo {
    margin-bottom: 32px;
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 40px;
    line-height: 1.08;
    letter-spacing: 0.3em;
    color: $logo-rest-hotel-color;

    @media screen and (min-width: 1024px) {
      margin-bottom: 62px;
      font-size: 64px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 72px;
    }
  }

  &__title {
    margin-bottom: 12px;
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $main-dark-color;

    @media screen and (min-width: 1024px) {
      margin-bottom: 16px;
      font-size: 30px;
      line-height: 1.13;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 24px;
      margin-bottom: 36px;
      line-height: 1.14;
    }
  }

  &__description {
    width: 258px;
    margin-bottom: 32px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $text-rest-homepage-color;

    @media screen and (min-width: 1024px) {
      width: 439px;
      margin-bottom: 215px;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.02em;
    }

    @media screen and (min-width: 1280px) {
      width: 400px;
      margin-bottom: 260px;
      font-weight: 700;
    }
  }
}

.hotel-section-room__images {
  display: flex;
  margin-left: auto;
  width: 244px;
  margin-bottom: 298px;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;

  @media screen and (min-width: 1024px) {
    position: absolute;
    width: 400px;
    top: -32px;
    right: 112px;
  }

  @media screen and (min-width: 1280px) {
    width: 460px;
    right: 180px;
  }
}

.hotel-section-room--tablet-desktop {
  width: 100%;

  @media screen and (min-width: 1024px) {
    display: flex;
    justify-content: end;
  }
}

.hotel-section-room__slider {
  position: absolute;
  top: 640px;
  left: 0px;

  @media screen and (min-width: 1024px) {
    top: 540px;
    left: 47px;
  }

  @media screen and (min-width: 1280px) {
    top: 590px;
    left: 85px;
  }
}

.hotel-section-room__slider-wrapper {
  width: 284px;
  margin-bottom: 20px;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: 1024px) {
    width: 428px;
    box-shadow: $slider-wrapper-shadow;
  }

  @media screen and (min-width: 1280px) {
    width: 548px;
  }

  & .slick-list {
    overflow: hidden;
  }

  & .slick-track {
    display: flex;
    margin-left: 90px;

    @media screen and (min-width: 1024px) {
      margin-left: 0px;
    }
  }
}

.hotel-section-room__slick-item {
  width: 194px;
  margin-left: 16px;
  box-shadow: $slider-item-shadow;

  @media screen and (min-width: 1024px) {
    width: 194px;
    margin-left: 40px;
  }

  @media screen and (min-width: 1280px) {
    width: 254px;
    margin-left: 40px;
  }

  & .slick__box {
    border-radius: 2px;
    overflow: hidden;

    &:nth-child(1n) {
      box-shadow: $slider-item-shadow;
    }
  }
}

.hotel-section-room__slider-nav {
  position: absolute;
  top: 214px;
  left: 15px;
  width: 94px;
  height: 32px;

  @media screen and (min-width: 1024px) {
    position: absolute;
    justify-content: space-between;
    top: 224px;
    left: 334;
  }

  @media screen and (min-width: 1280px) {
    justify-content: space-between;
    top: 294px;
    left: 454;
  }

  & .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-9px);
    width: 30px;
    height: 18px;
    z-index: 10;
    font-size: 0;
    border: none;

    &.slick-prev {
      left: 0;
      -webkit-mask-image: url('../images/svg/slider-prev-button.svg');
      mask-image: url('../images/svg/slider-prev-button.svg');
      background-color: $main-dark-color;
      cursor: pointer;
  
      &:hover {
        background-color: $accent-color;
      }
    }
  
    &.slick-next {
      right: 0;
      -webkit-mask-image: url('../images/svg/slider-next-button.svg');
      mask-image: url('../images/svg/slider-next-button.svg');
      background-color: $main-dark-color;
      cursor: pointer;
  
      &:hover {
        background-color: $accent-color;
      }
    }
  }
}

.hotel-section-room__button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  @media screen and (min-width: 1024px) {
    justify-content: end;
  }

  @media screen and (min-width: 1280px) {
  }
}

.hotel-section-room__button {
  display: flex;
  width: 236px;
  padding: 14px 0px;
  text-decoration: none;
  border: 2px solid $main-light-color;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: $accent-color;
  background-color: $main-dark-color;
  border-radius: 25px;

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: $main-light-color;
    border-color: $accent-color;
  }
}
