.triple-room {
  margin: 0 auto;
  max-width: 1280px;
  background-color: $logo-header-hotel-color;
  overflow-x: clip;

}

.triple-room__wrapper {
  margin: 0 auto;
  max-width: 414px;
  background-image: linear-gradient(to right,
      $logo-header-hotel-color 138px,
      $bg-gradient-color 139px,
      $logo-header-hotel-color 140px,
      $logo-header-hotel-color 273px,
      $bg-gradient-color 274px,
      $logo-header-hotel-color 275px);

  @include tablet {
    max-width: 1024px;
    background-image: linear-gradient(to right,
        $logo-header-hotel-color 278px,
        $bg-gradient-color 279px,
        $logo-header-hotel-color 280px,
        $logo-header-hotel-color 511px,
        $bg-gradient-color 512px,
        $logo-header-hotel-color 513px,
        $logo-header-hotel-color 745px,
        $bg-gradient-color 746px,
        $logo-header-hotel-color 747px);
  }

  @include desktop {
    max-width: 1280px;
    background-image: linear-gradient(to right,
        $logo-header-hotel-color 338px,
        $bg-gradient-color 339px,
        $logo-header-hotel-color 340px,
        $logo-header-hotel-color 639px,
        $bg-gradient-color 64px,
        $logo-header-hotel-color 641px,
        $logo-header-hotel-color 941px,
        $bg-gradient-color 940px,
        $logo-header-hotel-color 943px);
  }
}

.triple-room__container {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 32px;
  padding-bottom: 32px;

  @include mobile {
    max-width: 414px;
  }

  @include tablet {
    max-width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
    padding-top: 62px;
    padding-bottom: 145px;
  }

  @include desktop {
    max-width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 72px;

    padding-bottom: 182px;
  }
}

.triple-room__subtitle {
  margin-bottom: 8px;
  padding-right: 10px;
  text-align: right;
  font-family: 'Times New Roman';
  font-weight: 400;
  font-size: 20px;
  line-height: calc(23 / 20);
  color: $subtitles-color;

  @include tablet {
    font-size: 32px;
    line-height: calc(37 / 32);
    margin-bottom: 4px;
    padding-right: 20px;
  }

  @include desktop {
    padding-right: 57px;
  }
}

.triple-room__logo {
  display: block;
  margin-bottom: 32px;
  text-align: end;
  font-family: 'Film P3';
  font-weight: 700;
  font-size: 40px;
  line-height: calc(43 / 40);
  letter-spacing: 0.3em;
  color: $logo-rest-hotel-color;
  text-transform: uppercase;

  @include tablet() {
    font-size: 64px;
    line-height: calc(69 / 64);
    margin-bottom: 62px;
  }

  @include desktop() {
    margin-bottom: 72px;
    padding-right: 40px;
  }
}

.triple-room__title {
  text-align: end;
  margin-bottom: 12px;
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.05em;
  color: $main-dark-color;
  text-transform: uppercase;

  @include tablet() {
    font-size: 30px;
    line-height: calc(34 / 30);
    margin-bottom: 16px;
    padding-right: 43px;
  }

  @include desktop() {
    font-size: 36px;
    line-height: calc(41 / 36);
    margin-bottom: 24px;
    padding-right: 57px;
  }
}

.triple-room__text {
  margin-left: calc(100% - 280px);
  margin-bottom: 32px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;
  width: 242px;
  color: $text-rest-homepage-color;

  @include tablet {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(20 / 16);
    margin-bottom: 210px;
    width: 420px;
    margin-left: calc(100% - 392px);
    padding-right: 20px;
  }

  @include desktop {
    margin-bottom: 260px;
    margin-left: calc(100% - 480px);
  }
}

.triple-room__img {
  display: block;
  width: 244px;
  margin-bottom: 298px;
  background: $background-img-color;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;

  @include tablet() {
    position: absolute;
    top: -32px;
    left: 112px;
    margin-bottom: 0;
    width: 400px;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }

  @include desktop() {
    left: 180px;
    width: 460px;
    height: 574px;
  }
}


.btn-list {
  text-align: center;

  @include tablet {
    text-align: left;
  }
}

.btn-list__item:not(:last-child) {
  margin-bottom: 16px;
}
.btn-list__btn {
  background-color: $main-dark-color;
  color: $accent-color;
  width: 236px;
  padding: 14px 0;
  border: 2px solid $logo-header-room-color;
  border-radius: 25px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $main-light-color;
    border-color: $accent-color;
  }

}

.button-link {
  display: inline-block;
  text-align: center;
}

.triple-room__slider-wrapper {
  position: absolute;
  top: 640px;
  left: 130px;
  width: 284px;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.15);

  @media screen and (min-width: 1024px) {
    top: 540px;
    left: 549px;
    width: 428px;
  }

  @media screen and (min-width: 1280px) {
    top: 590px;
    left: 647px;
    width: 548px;
  }

  & .slick-list {
    overflow: hidden;
  }

  & .slick-track {
    display: flex;
  }
}

.triple-room__slick-item {
  width: 284px;
  padding-right: 16px;
  margin-left: -74px;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.10);

  @media screen and (min-width: 1024px) {
    width: 428px;
    padding-right: 40px;
    margin-left: -194px;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.13);
  }

  @media screen and (min-width: 1280px) {
    width: 548px;
    padding-right: 40px;
    margin-left: -245px;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.2);
  }

  & .slick__box {
    border-radius: 2px;
    overflow: hidden;

    &:nth-child(1n) {
      box-shadow: $slider-item-shadow;
    }
  }
}

.triple-room__slider-nav {
  position: absolute;
  top: 861px;
  right: 18px;
  width: 94px;
  height: 18px;

  @media screen and (min-width: 1024px) {
    justify-content: space-between;
    top: 773px;
    right: 380px;
  }

  @media screen and (min-width: 1280px) {
    justify-content: space-between;
    top: 891px;
    right: 535px;
  }

  & .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-9px);
    width: 30px;
    height: 18px;
    z-index: 10;
    font-size: 0;
    border: none;

    &.slick-prev {
      left: 0;
      -webkit-mask-image: url('../images/svg/slider-prev-button.svg');
      mask-image: url('../images/svg/slider-prev-button.svg');
      background-color: $main-dark-color;
      cursor: pointer;
  
      &:hover {
        background-color: $accent-color;
      }
    }
  
    &.slick-next {
      right: 0;
      -webkit-mask-image: url('../images/svg/slider-next-button.svg');
      mask-image: url('../images/svg/slider-next-button.svg');
      background-color: $main-dark-color;
      cursor: pointer;
  
      &:hover {
        background-color: $accent-color;
      }
    }
  }
}