.about-kitchen {
    margin: 0 auto;
    width: 414px;
    height: 1191px;
    background-image: linear-gradient(to right,
            $background-light-color 138px,
            $bg-gradient-color 139px,
            $background-light-color 140px,
            $background-light-color 273px,
            $bg-gradient-color 274px,
            $background-light-color 275px);

    @media screen and (min-width: 1024px) {
        width: 1024px;
        height: 1238px;
        background-image: linear-gradient(to right,
                $background-light-color 278px,
                $bg-gradient-color 279px,
                $background-light-color 280px,
                $background-light-color 511px,
                $bg-gradient-color 512px,
                $background-light-color 513px,
                $background-light-color 745px,
                $bg-gradient-color 746px,
                $background-light-color 747px);
    }

    @media screen and (min-width: 1280px) {
        width: 1280px;
        height: 1257px;
        background-image: linear-gradient(to right,
                $background-light-color 338px,
                $bg-gradient-color 339px,
                $background-light-color 340px,
                $background-light-color 639px,
                $bg-gradient-color 640px,
                $background-light-color 641px,
                $background-light-color 941px,
                $bg-gradient-color 942px,
                $background-light-color 943px);
    }
}

.about-kitchen__container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 18px;
    padding-bottom: 28px;

    @media screen and (min-width: 1024px) {
        padding: 120px 47px 0px;

    }

    @media screen and (min-width: 1280px) {
        padding: 120px 85px 0px;
    }
}

.about-kitchen__text-wrapper {
    width: 242px;
    margin-right: auto;
    margin-bottom: 28px;

    @media screen and (min-width: 1024px) {
        width: 439px;
        margin-bottom: 142px;
    }

    @media screen and (min-width: 1280px) {
        width: 518px;
        margin-bottom: 162px;
    }
}

.about-kitchen__times {
    font-family: 'Times New Roman', sans-serif;
    font-size: 20px;
    line-height: calc(23/20);
    color: #B4B4B4;
    text-align: left;
    margin-bottom: 12px;

    @media screen and (min-width: 1024px) {
        font-size: 32px;
        line-height: calc(37/32);
        margin-bottom: 4px;
    }
}

.about-kitchen__logo {
    width: 127px;
    height: 43px;
    margin-bottom: 12px;
    fill: #494848;

    @media screen and (min-width: 1024px) {
        width: 202px;
        height: 69px;
        margin-bottom: 24px;
    }
}

.about-kitchen__text {
    font-weight: 600;
    font-size: 12px;
    line-height: calc(15/12);
    letter-spacing: 0.02em;
    color: #5F5F5F;

    &--brown {
        font-weight: 600;
        font-size: 12px;
        line-height: calc(15/12);
        letter-spacing: 0.02em;
        color: #C79002;
    }

    @media screen and (min-width: 1024px) {
        font-size: 16px;
        line-height: calc(20/16);

        &--brown {
            font-size: 16px;
            line-height: calc(20/16);
        }
    }
}

.about-kitchen__kitchen {
    display: block;
    overflow: hidden;
    max-width: 244px;
    max-height: 322px;
    margin-bottom: 32px;
    margin-left: auto;
    background-color: #939393;
    border-radius: 2px;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);

    @media screen and (min-width: 1024px) {
        position: absolute;
        top: -32px;
        right: 112px;
        min-width: 400px;
        min-height: 524px;
        box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    }

    @media screen and (min-width: 1280px) {
        position: absolute;
        top: -33px;
        right: 180px;
        min-width: 460px;
        min-height: 574px;
        box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    }
}

.about-kitchen__meat-wrapper {
    display: flex;
    align-items: center;

    @media screen and (min-width: 1024px) {
        margin-bottom: 262px;
        width: 710px;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 207px;
        width: 804px;
    }
}

.about-kitchen__meat {
    overflow: hidden;
    min-width: 200px;
    height: 278px;
    margin-right: 20px;
    border-radius: 2px;
    background-color: #939393;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);

    @media screen and (min-width: 1024px) {
        min-width: 350px;
        min-height: 500px;
        margin-right: 48px;
        box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    }

    @media screen and (min-width: 1280px) {
        min-width: 460px;
        min-height: 574px;
        margin-right: 32px;
        box-shadow: none;
    }
}

.about-kitchen__slider-wrapper {
    position: absolute;
    top: 879px;
    left: 82px;
    width: 330px;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    
    @media screen and (min-width: 1024px) {
        top: 948px;
        left: 536px;
        width: 428px;
    }

    @media screen and (min-width: 1280px) {
        top: 908px;
        left: 665px;
        width: 530px;
    }
}

.about-kitchen__slick-item {
    min-width: 330px;
    padding-right: 24px;
    margin-left: -60px;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);

    @media screen and (min-width: 1024px) {
        min-width: 428px;
        padding-right: 40px;
        margin-left: -194px;
    }

    @media screen and (min-width: 1280px) {
        min-width: 530px;
        padding-right: 40px;
        margin-left: -245px;
    }
}

.slick__box {
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    outline: 1px solid black;
}

.slider-nav {
    position: absolute;
    display: flex;
    bottom: -284px;
    right: 0px;
    width: 98px;
    height: 32px;

    @media screen and (min-width: 1024px) {
        justify-content: space-between;
        bottom: 50px;
        right: 55px;
        width: 104px;
        height: 17px;
    }

    @media screen and (min-width: 1280px) {
        justify-content: space-between;
        bottom: 40px;
        right: 83px;
    }
}

.slider-nav__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    fill: #000;
}

.my-slick-next2,
.my-slick-prev2 {
    position: absolute;
    background-color: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
}

.my-slick-next2 {
    left: 50px;
    bottom: 6px;

    @media screen and (min-width: 1024px) {
        left: 70px;
        bottom: -1px;
    }
}

.my-slick-prev2 {
    left: 3px;
    bottom: 6px;

    @media screen and (min-width: 1024px) {
        left: 3px;
        bottom: -1px;
    }
}
