.restaurant-menu {
  width: 100%;
  margin: 0 auto;
  background-color: $background-light-color;

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}
.gradient__container {
  @media screen and (min-width: 1024px) {
    width: 1024px;
    margin: 0 auto;
    background-image: linear-gradient(
      to right,
      $background-light-color 745px,
      $bg-gradient-color 746px,
      $background-light-color 747px
    );
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
    margin: 0 auto;
    background-image: linear-gradient(
      to right,
      $background-light-color 338px,
      $bg-gradient-color 339px,
      $background-light-color 340px,
      $background-light-color 639px,
      $bg-gradient-color 640px,
      $background-light-color 641px,
      $background-light-color 941px,
      $bg-gradient-color 942px,
      $background-light-color 943px
    );
  }
}

.menu {
  width: 100%;
  max-width: 384px;
  //   flex-basis: calc(100% / 2);
  @media screen and (min-width: 1024px) {
    max-width: 414px;
    &:nth-child(1) {
      order: 1;
    }
    &:nth-child(2) {
      order: 3;
    }
    &:nth-child(3) {
      order: 2;
    }
    &:nth-child(4) {
      order: 4;
    }
  }
  @media screen and (min-width: 1280px) {
    max-width: 485px;
  }
  &__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px 15px;
    @media screen and (min-width: 414px) {
      max-width: 414px;
    }
    @media screen and (min-width: 1024px) {
      max-width: 1024px;
      padding: 58px 47px 40px;
    }
    @media screen and (min-width: 1280px) {
      max-width: 1280px;
      padding: 58px 85px 60px;
    }
  }
  &__title {
    font-family: 'Times New Roman';
    text-transform: uppercase;
    font-size: 28px;
    line-height: 1.156;
    margin-bottom: 32px;
    @media screen and (min-width: 370px) {
      font-size: 32px;
    }
    @media screen and (min-width: 1024px) {
      margin-bottom: 40px;
    }
  }
  &__caption {
    font-family: 'Times New Roman';
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.15;
    margin-bottom: 16px;
    @media screen and (min-width: 370px) {
      font-size: 20px;
    }
    @media screen and (min-width: 1024px) {
      margin-bottom: 20px;
    }
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 32px;
    row-gap: 16px;
    @media screen and (min-width: 1024px) {
      margin-bottom: 60px;
      row-gap: 20px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 40px;
    }
  }
  &__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $accent-color;
    background-color: $main-dark-color;
    padding: 15px 24px 14px;
    border: 2px solid $background-light-color;
    border-radius: 25px;
  }
}
.dish {
  font-weight: 500;
  font-size: 11px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 187px;
  word-wrap: break-word;
  display: inline-block;
  @media screen and (min-width: 370px) {
    font-size: 14px;
  }
  &:not(:last-child) {
    padding: 0 0 8px 0;
  }
  @media screen and (min-width: 414px) {
    max-width: 221px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 226px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 291px;
    font-size: 16px;
    line-height: 1.25;
  }
  &__container {
    &:last-child {
      margin-bottom: 16px;
    }
  }

  &__weight {
    font-weight: 300;
    font-size: 10px;
    line-height: 1.214;
    letter-spacing: 0.02em;
    text-align: center;
    padding: 0;
    padding-right: 15px;
    @media screen and (min-width: 370px) {
      font-size: 14px;
    }
  }
  &__price {
    font-weight: 700;
    font-size: 10px;
    line-height: 1.214;
    letter-spacing: 0.02em;
    padding: 0;
    max-width: 27px;
    text-align: right;
    min-width: 43px;
    @media screen and (min-width: 370px) {
      max-width: none;
      font-size: 14px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 16px;
      line-height: 1.25;
    }
  }
  &__description {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    display: block;
    max-width: 210px;
  }
}

.snack {
  font-weight: 500;
  font-size: 11px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 187px;
  word-wrap: break-word;
  display: inline-block;
  @media screen and (min-width: 370px) {
    font-size: 14px;
  }
  &:not(:last-child) {
    padding: 0 0 8px 0;
  }
  @media screen and (min-width: 414px) {
    max-width: 221px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 226px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 291px;
    font-size: 16px;
    line-height: 1.25;
  }
  &__container {
    &:last-child {
      margin-bottom: 16px;
    }
  }
  &__description {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    display: block;
    max-width: 210px;
  }
  &__weight {
    font-weight: 300;
    font-size: 10px;
    line-height: 1.214;
    letter-spacing: 0.02em;
    text-align: center;
    padding: 0;
    padding-right: 15px;
    @media screen and (min-width: 370px) {
      font-size: 14px;
    }
    @media screen and (min-width: 1280px) {
      padding-right: 28px;
    }
  }
  &__price {
    font-weight: 700;
    font-size: 10px;
    line-height: 1.214;
    letter-spacing: 0.02em;
    padding: 0;
    max-width: 27px;
    text-align: right;
    min-width: 43px;
    @media screen and (min-width: 370px) {
      max-width: none;
      font-size: 14px;
    }
    @media screen and (min-width: 1024px) {
      padding-right: 5px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 16px;
      line-height: 1.25;
    }
  }
}
.salads {
  font-weight: 500;
  font-size: 11px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 187px;
  word-wrap: break-word;
  display: inline-block;
  @media screen and (min-width: 370px) {
    font-size: 14px;
  }
  &:not(:last-child) {
    padding: 0 0 8px 0;
  }
  @media screen and (min-width: 414px) {
    max-width: 221px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 226px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 291px;
    font-size: 16px;
    line-height: 1.25;
  }
  &__container {
    &:last-child {
      margin-bottom: 16px;
    }
  }
  &__weight {
    font-weight: 300;
    font-size: 10px;
    line-height: 1.214;
    letter-spacing: 0.02em;
    text-align: center;
    padding: 0;
    padding-right: 15px;
    @media screen and (min-width: 370px) {
      font-size: 14px;
    }
  }
  &__price {
    font-weight: 700;
    font-size: 10px;
    line-height: 1.214;
    letter-spacing: 0.02em;
    padding: 0;
    max-width: 27px;
    text-align: right;
    min-width: 43px;
    @media screen and (min-width: 370px) {
      max-width: none;
      font-size: 14px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 16px;
      line-height: 1.25;
    }
  }
  &__description {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    display: block;
    max-width: 225px;
  }
}
.desserts__container:last-child .desserts {
  padding: 16px;
}
.desserts {
  font-weight: 500;
  font-size: 11px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  min-width: 166px;
  word-wrap: break-word;
  padding: 0 0 8px 0;
  display: inline-block;
  @media screen and (min-width: 370px) {
    font-size: 14px;
  }
  @media screen and (min-width: 414px) {
    min-width: 197px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.25;
  }
  &__container {
    &:last-child {
      margin-bottom: 16px;
      padding-bottom: 16px;
    }
  }

  &__weight {
    font-weight: 300;
    font-size: 10px;
    line-height: 1.214;
    letter-spacing: 0.02em;
    text-align: center;
    padding: 0;
    // padding-right: 15px;
    @media screen and (min-width: 370px) {
      font-size: 14px;
    }
    @media screen and (min-width: 414px) {
      padding-right: 0;
    }
  }
  &__price {
    font-weight: 700;
    font-size: 10px;
    line-height: 1.214;
    letter-spacing: 0.02em;
    padding: 0;
    max-width: 27px;
    text-align: right;
    min-width: 43px;
    @media screen and (min-width: 370px) {
      max-width: none;
      font-size: 14px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 16px;
      line-height: 1.25;
    }
  }
}
.inner {
  padding-bottom: 16px;
}
.drinks {
  font-weight: 500;
  font-size: 11px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 187px;
  word-wrap: break-word;
  display: inline-block;
  @media screen and (min-width: 370px) {
    font-size: 14px;
  }
  .drinks__container &:not(:last-child) {
    padding: 0 0 8px 0;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.25;
  }
  &__container {
    &:last-child {
      margin-bottom: 16px;
    }
  }
  &__weight {
    font-weight: 300;
    font-size: 10px;
    line-height: 1.214;
    letter-spacing: 0.02em;
    text-align: center;
    padding: 0;
    // padding-right: 15px;
    @media screen and (min-width: 370px) {
      font-size: 14px;
    }
    @media screen and (min-width: 414px) {
      padding-right: 0;
    }
  }
  &__price {
    font-weight: 700;
    font-size: 10px;
    line-height: 1.214;
    letter-spacing: 0.02em;
    padding: 0;
    max-width: 27px;
    text-align: right;
    @media screen and (min-width: 370px) {
      max-width: none;
      font-size: 14px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 16px;
      line-height: 1.25;
    }
  }
}
.button {
  &__container {
    display: flex;
    justify-content: center;
    @media screen and (min-width: 1024px) {
      justify-content: end;
    }
  }
}
.btn {
  border: 2px solid $background-light-color;
  width: auto;
  height: auto;
  padding: 15px 24px 14px;
  cursor: pointer;
}
