.about-hotel {
  max-width: 1280px;
  margin: 0 auto;
  overflow-x: clip;
  background-color: $logo-header-room-color;

  &__wrapper {
    margin: 0 auto;
    max-width: 414px;
    height: 100%;
    background-image: linear-gradient(to right,
        $background-light-color 138px,
        $bg-gradient-color 139px,
        $background-light-color 140px,
        $background-light-color 273px,
        $bg-gradient-color 274px,
        $background-light-color 275px);

    @media screen and (min-width: 1024px) {
      max-width: 1024px;
      background-image: linear-gradient(to right,
          $background-light-color 278px,
          $bg-gradient-color 279px,
          $background-light-color 280px,
          $background-light-color 511px,
          $bg-gradient-color 512px,
          $background-light-color 513px,
          $background-light-color 745px,
          $bg-gradient-color 746px,
          $background-light-color 747px);
    }

    @media screen and (min-width: 1280px) {
      max-width: 1280px;
      background-image: linear-gradient(to right,
          $background-light-color 338px,
          $bg-gradient-color 339px,
          $background-light-color 340px,
          $background-light-color 639px,
          $bg-gradient-color 640px,
          $background-light-color 641px,
          $background-light-color 941px,
          $bg-gradient-color 942px,
          $background-light-color 943px);
    }

  }

  @include desktop {
    min-height: 1275px;
  }

  @include tablet {
    min-height: 1238px;
  }

  &__container-hotel {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 18px;
    padding-bottom: 349px;
    margin: 0 auto;

    @include mobile {
      max-width: 414px;
    }

    @include tablet {
      max-width: 1024px;
      padding-top: 120px;
      padding-bottom: 262px;
      padding-left: 47px;
      padding-right: 47px;
    }

    @include desktop {
      max-width: 100%;
      padding-top: 120px;
      padding-bottom: 197px;
      padding-left: 85px;
      padding-right: 85px;
    }
  }

  &__title-about {
    margin-left: auto;
    margin-bottom: 6px;

    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.16;
    color: $subtitles-color;

    @include tablet {
      margin-right: 0;
      margin-bottom: 4px;
      width: 307px;
      font-size: 32px;
    }

    @include desktop {
      margin-right: 0;
      margin-bottom: 4px;
      width: 304px;
      font-size: 32px;
    }
  }

  &__logo-about {
    margin-left: auto;
    margin-bottom: 16px;
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 40px;
    line-height: 1.075;
    letter-spacing: 0.3em;
    color: $logo-rest-hotel-color;
    text-decoration: none;
    text-transform: uppercase;

    @include tablet {
      font-size: 64px;
      line-height: 1.078;
      margin-bottom: 24px;
    }

    @include desktop {
      margin-bottom: 24px;
      font-size: 64px;
      line-height: 1.078;
    }
  }

  &__text-couch {
    margin-left: auto;
    margin-bottom: 382px;
    max-width: 242px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1, 25;
    letter-spacing: 0.02em;
    color: $text-rest-homepage-color;

    @include tablet {
      margin-bottom: 142px;
      min-width: 419px;
      font-size: 16px;
    }

    @include desktop {
      margin-bottom: 162px;
      min-width: 488px;
      font-size: 16px;
    }
  }

  &__photo-apartment {
    position: absolute;
    top: 210px;
    left: 15px;
    display: block;

    margin-right: auto;
    margin-bottom: 32px;

    background: $background-img-color;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    z-index: 1;

    @include tablet-down {
      min-width: 244px;
      height: 322px;
    }

    @include tablet {
      top: -24px;
      left: 112px;
      width: 400px;
      margin-bottom: 0;
    }

    @include desktop {
      width: 460px;
      height: 574px;
      left: 180px;
    }
  }
}

.hotel-hall {
  display: flex;
  align-items: center;
  margin-left: auto;


  @media screen and (min-width: 1024px) {
    width: 710px;
  }

  @media screen and (min-width: 1280px) {
    width: 816px;
  }

  &__text-hall {
    //  width: 163px;
    margin-right: 21px;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $second-accent-color;

    @include mobile {
      // margin-top: 70px;
    }

    @include tablet {
      min-width: 312px;

      margin-right: 48px;
      font-size: 16px;
    }

    @include desktop {
      min-width: 311px;
      font-size: 16px;
      margin-top: -100px;
      margin-right: 45px;
    }
  }

  &__photo-hall {
    min-width: 200px;


    background: $background-img-color;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;

    @include tablet {
      max-width: 350px;
    }

    @include desktop {
      max-width: 460px;
      height: 574px;
      top: 360px;
      right: 85px;
    }
  }
}

//  Slider

.about-hotel__slider-wrapper {
  position: absolute;
  bottom: 72px;
  right: 84px;
  width: 330px;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.15);

  & .slick-track {
    display: flex;
    gap: 20px;
    margin-left: 85px;
  }

  @media screen and (min-width: 1024px) {
    bottom: 96px;
    right: 549px;
    width: 428px;

    & .slick-track {
      gap: 40px;
      margin-left: 0px;
    }
  }

  @media screen and (min-width: 1280px) {
    bottom: 119px;
    right: 665px;
    width: 530px;
  }

  & .slick-list {
    overflow: hidden;
  }
}

.about-hotel__slick-item:nth-child(1n) {
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.20);

  @media screen and (min-width: 1024px) {
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  }
}

.about-hotel__slider-nav {
  position: absolute;
  bottom: 28px;
  left: 16px;
  width: 94px;
  height: 18px;

  @media screen and (min-width: 1024px) {
    justify-content: space-between;
    bottom: 40px;
    left: 48px;
  }

  @media screen and (min-width: 1280px) {
    bottom: 57px;
    left: 86px;
  }

  & .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-9px);
    width: 30px;
    height: 18px;
    z-index: 10;
    font-size: 0;
    border: none;

    &.slick-prev {
      left: 0;
      -webkit-mask-image: url('../images/svg/slider-prev-button.svg');
      mask-image: url('../images/svg/slider-prev-button.svg');
      background-color: $main-dark-color;
      cursor: pointer;
  
      &:hover {
        background-color: $accent-color;
      }
    }

    &.slick-next {
      right: 0;
      -webkit-mask-image: url('../images/svg/slider-next-button.svg');
      mask-image: url('../images/svg/slider-next-button.svg');
      background-color: $main-dark-color;
      cursor: pointer;

      &:hover {
        background-color: $accent-color;
      }
    }
  }
}