.about {
  padding-top: 18px;
  padding-bottom: 28px;
  background-color: $logo-header-room-color;

  @include desktop {
    padding-top: 120px;
    padding-bottom: 58px;
  }
 @include tablet {
  padding-top: 120px;
    padding-bottom: 40px;
  }
 

  &__container-hotel {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    width: 1280px;
    max-height: 100%;

    @include desktop {
      max-widht: 1280px;
      
    }

    @include tablet {
      max-width: 1024px;
     
    }

    @include mobile {
      max-width: 414px;
      
    }
  }

&__article-about {
display: block;
flex-direction: column;

margin-bottom: 28px;
    }

&__title-about {   
    margin-left: 209px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.16;
    color: $subtitles-color;

    @include desktop {
      margin-right: 85px;
      margin-bottom: 4px;
      font-size: 32px;
    }

    @include tablet {
      margin-bottom: 4px;
      font-size: 32px;
    }
  }

  &__logo-about {
   margin-left: 2472px;
       font-family: 'Film P3';
    font-weight: 700;
    font-size: 40px;
    line-height: 1.075;
    letter-spacing: 0.3em;
    color: $logo-homepage-color;
    text-decoration: none;
    text-transform: uppercase;

    @include tablet {
      font-size: 64px;
      line-height: 1.078;
      margin-bottom: 24px;
    }

    @include desktop {
      margin: 4px 85px 24px auto;
    }
  }

  &__text-couch {
    margin-left: 158px;
   width: 242px;
   text-align: start;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1, 25;
    letter-spacing: 0.02em;
    color: $text-rest-homepage-color;

    @include tablet {
      font-size: 16px;
    }

    @include desktop {
      font-size: 16px;
    }
 

  &__photo-apartment {
  }
 }
}

  .hotel-hall {
    display: block;
    justify-content: space-between;
    align-items: center;
 

  &__text-hall {
    margin-right: 45px;
    width: 163px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $second-accent-color;

    @include tablet {
        font-size: 16px;
      }
    
      @include desktop {
        font-size: 16px;
      }
  }

  &__photo-hall {

  }

 }