.about {
  background-color: $logo-header-room-color;

  &__container-hotel {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    width: 1280px;

    @include desktop {
      width: 1280px;
      padding-top: 120px;
      padding-bottom: 120px;
    }

    @include tablet {
      width: 1024px;
      padding-top: 120px;
      padding-bottom: 96px;
    }

    @include mobile {
      max-width: 1023px;
      padding-top: 18px;
      padding-bottom: 72px;
    }
  }
  &__title-about {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 6px auto;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.16;
    color: $subtitles-color;

    @include desktop {
      margin-right: 85px;
      margin-bottom: 4px;
      font-size: 32px;
    }

    @include tablet {
      margin-bottom: 4px;
      font-size: 32px;
    }
  }

  &__logo-about {
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
    margin-left: auto;
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 40px;
    line-height: 1.075;
    letter-spacing: 0.3em;
    color: $logo-homepage-color;
    text-decoration: none;
    text-transform: uppercase;

    @include tablet {
      font-size: 64px;
      line-height: 1.078;
      margin-bottom: 24px;
    }

    @include desktop {
      margin: 4px 85px 24px auto;
    }
  }
}

.card {
  &__item-hotel {
  }

  &__couch {
    display: block;
    justify-content: space-between;
    align-items: center;

    @include tablet {
       display: flex;
       justify-content: space-between; 
      }
    
      @include desktop {
        display: flex;
          justify-content: space-between;
      }
  }

  &__text-couch {
    margin: 16px 0 28px auto;
    width: 242px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1, 25;
    letter-spacing: 0.02em;
    color: $text-rest-homepage-color;

    @include tablet {
      font-size: 16px;
    }

    @include desktop {
      font-size: 16px;
    }
  }

  &__photo-apartment {
  }

  &__hall {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text-hall {
    margin-right: 45px;
    width: 163px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $second-accent-color;
  }
}
