.about {
    max-width: 1280px;
    margin: 0 auto;
  max-height: 100%;
  padding-top: 18px;
  padding-bottom: 28px;
  background-color: $logo-header-room-color;

  @include desktop {
    position: relative;
    padding-top: 120px;
    padding-bottom: 58px;
  }
 @include tablet {
  padding-top: 120px;
    padding-bottom: 40px;
  }
 

  &__container-hotel {
  
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    // width: 1280px;
    // max-height: 100%;
    // overflow: hidden;

    @include mobile {
        max-width: 414px;
    
      }

 @include tablet {
   max-width: 1024px;

 }
    @include desktop {
      max-width: 100%;
      
    }

   

    
  }

// &__article-about {
// display: block;
// flex-direction: column;

// margin-bottom: 28px;
//     }

&__title-about {   
  display: flex;
    justify-content: flex-end;
    margin-bottom: 6px;
    
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.16;
    color: $subtitles-color;
 

    @include tablet {
   
      margin-left: auto;
      margin-right: 0;
      margin-bottom: 4px;
      width: 307px;
      font-size: 32px;
    }
         @include desktop {
          
           margin-left: auto;
           margin-right: 0;
           margin-bottom: 4px;
           width: 304px;
           font-size: 32px;
         }
  }

  &__logo-about {
   display: flex;
   justify-content: flex-end;
   margin-bottom: 16px;
   font-family: 'Film P3';
    font-weight: 700;
    font-size: 40px;
    line-height: 1.075;
    letter-spacing: 0.3em;
    color: $logo-homepage-color;
    text-decoration: none;
    text-transform: uppercase;

    @include tablet {
      margin-left: auto;
        margin-right: 0;
      font-size: 64px;
      line-height: 1.078;
      margin-bottom: 24px;
    }

    @include desktop {
      margin-left: auto;
        margin-right: 0;
        margin-bottom: 24px;
        font-size: 64px;
          line-height: 1.078;
    }
  }

  &__text-couch {
    margin-left: auto;
      margin-right: 0;
      margin-bottom: 28px;
   max-width: 242px;
  
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1, 25;
    letter-spacing: 0.02em;
    color: $text-rest-homepage-color;

    @include tablet {
    margin-left: auto;
      margin-right: 0;
      min-width: 419px;
      font-size: 16px;
    }

    @include desktop {
    margin-left: auto;
      margin-right: 0;
      min-width: 488px;
      font-size: 16px;
    }
  }

  &__photo-apartment {
    display: block;
      width: 244px;
      margin-right: auto;
      margin-bottom: 32px;
      background: $background-img-color;
      box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
      border-radius: 2px;

          
      @include tablet {
        position: absolute;
        top: 700px;
        left: 112px;
        width: 400px;
        margin-bottom: 0;
      }
    
      @include desktop {
        width: 460px;
        height: 574px;
        top: -30px;
        left: 180px;
      }
  }
 }

  .hotel-hall {
    display: flex;
    justify-content: space-between;
    align-items: center;
 

  &__text-hall {
    margin-right: 48px;
     max-width: 163px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $second-accent-color;

    @include tablet {
      display: block;
      margin-top: 340px;
            margin-left: 220px;
            margin-bottom: 154px;
      min-width: 312px;
        font-size: 16px;
      }
    
      @include desktop {
        display: block;
        margin-left: 270px;
        margin-bottom: 116px;
            min-width: 311px;
        font-size: 16px;
      }
  }

  &__photo-hall {
display: block;
  width: 244px;
  margin-left: auto;
  margin-bottom: 32px;
  background: $background-img-color;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;

  @include tablet {
    position: absolute;
    top: 1200px;
    right: 47px;
    width: 400px;
    margin-bottom: 0;
  }

  @include desktop {
    width: 460px;
    height: 574px;
    top: 500px;
    right: 85px;
  }
  }
 }
.button-slider {
  display: flex;
  gap: 34px;
  margin-top: 48px;
  margin-left: 16px;

  @include tablet {
      margin-top: 40px;
        margin-left: 48px;
    }
  
    @include desktop {
      margin-top: 48px;
        margin-left: 86px;
    }
}
 .button-slider__button-arrow {
   display: flex;
   background-color: transparent;
   border: none;
   align-items: center;
   padding: 0;
   fill: $main-dark-color;
   cursor: pointer;
 }

 .swiper {  

 &__swiper-wrapper {
display: flex;
gap: 40px
 }

 &__swiper-slide {
   }

  &__photo-slide {
width: 194px;
  background: $background-img-color;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;

  @include desktop {
    width: 254px;
  }
  }

 }