// .home-contacts {
//     max-width: 1280px;
//     margin: 0 auto;
//     padding: 36px 15px 32px;
//     background-color:$background-light-color;
// @include tablet {
//         padding: 56px 47px 40px;
//     }
//     &__container {
//         margin: 0 auto;
//         @include mobile {
//             width: 384px;
//         }
//         @include tablet {
//             display: flex;
//            justify-content: space-between;
//            align-items: center;
//             width: 930px;
//         }
//         @include desktop {
//             width: 1180px;
//         }
//     }
//     &__box{
//        width: 100%;
//     @include tablet {
//         width:294px;
//     }
//     }
//   &_title{
//     font-family: 'Montserrat',sans-serif;
//     font-style: normal;
//     font-weight: 600;
//     font-size: 16px;
//     line-height: 1.25;
//     color: $text-rest-homepage-color;
//     margin-bottom: 16px;
//   }
//   &_list-restaurant {
//         display: flex;
//         gap: 22px;
//         margin-bottom: 16px;
//         flex-direction: column;
//     @include tablet {
//         margin-bottom: 0;
//     }
//     } 
//   &__text-hotel,&__text-restaurant{
//     font-family: 'Montserrat', sans-serif;
//         font-style: normal;
//         font-weight: 500;
//         font-size: 20px;
//         line-height: 1.2;
//         color: $second-accent-color;
//         @include tablet {
//             margin-bottom: 8px;
//         }
//     }
//   &__text-restaurant{
//     margin-right: 22px;
//     @include tablet {
//         margin-top: 52px;
//         margin-right: 0;
//     }
//   }
//   &__text-hotel{
//     margin-right: 54px;
//     @include tablet {
//      margin-right: 0;   
//     }
//   }
//   &__item{
//     display: flex;
//     align-items: center;
//     @include tablet{
//         flex-direction: column;
//         align-items: flex-start;
//     }
//   }
//     &__border {
//         display: flex;
//         align-items: center;
//         width: 260px;
//         flex-wrap: wrap;
//         gap: 11px;
//         background-color: $main-light-color;
//         border: 1px solid rgba(243, 198, 83, 0.7);
//         padding: 9px 7px 7px 8px;
// }
//   &__link{
//     text-decoration: none;
//     display: flex;
//     align-items: center;
//     font-family: 'Montserrat', sans-serif;
//     font-style: normal;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: calc(17px / 14px);
//     letter-spacing: 0.02em;
//     color: #494848;
//     background-color: $main-light-color;
//     border: 1px solid rgba(243, 198, 83, 0.7);
//     padding: 9px 8px 7px;
//   }
  
// // location
//   &__address{
//     width: 100%;
//     display: flex;
//     margin-top: 16px;
//     margin-bottom: 34px;
//     margin-left: auto;
//     margin-right: auto;
//     justify-content: flex-end;
//     @include tablet {
//         justify-content: flex-start;
//         margin-top: 48px;
//         margin-bottom: 0;
//         }
//     }
//   &__location{
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//     padding: 8px 32px 7px 10px;
//     width: 260px;
//     margin-right: 2px;
//     border: 1px solid rgba(243, 198, 83, 0.7);
//     border-radius: 2px;
//     background-color: $main-light-color;
//     font-family: 'Montserrat', sans-serif;
//     font-weight: 400;
//     font-size: 16px;
//     line-height: calc(20px / 16px);
//     letter-spacing: 0.01em;
//     color: #494848;
//    @include tablet{
//         width: 285px;
//         padding: 9px 8px 7px 10px;
//         margin-right: 0;
//     }
//   }

//   &__icon{
//         width: 24px;
//         height: 24px;
//         margin-right: 8px;
//         fill: rgba(199, 144, 2, 1);
//   }

// //   Iframe
//  

// .logo--darck{
//     font-size: 40px;
//     line-height: 1.075;
//     color: $logo-rest-hotel-color;
//     margin-bottom: 12px;
//     @include tablet {
//         font-size: 64px;
//         line-height: 1.078;
//     }
// }
// .link--none {
//     border:none;
//     padding:0;
// }

.home-contacts{
  max-width: 1280px;
  margin: 0 auto;
  padding: 36px 15px 32px;
  &__box1{
    margin: 0 auto;
    @include mobile {
        width: 384px;
      }
    
      @include tablet {
        width: 930px;
      }
    
      @include desktop {
        width: 1024px;
      }
    
  }
  &_title {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    color: $text-rest-homepage-color;
    margin-bottom: 16px;
 }
 
  &__item{
  display: flex;
  gap: 11px;
  justify-content: center;
  align-items: center;
  background-color: $main-light-color;
    border: 1px solid rgba(243, 198, 83, 0.7);
    padding: 9px 8px 7px;
  }
 
  &__link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(17px / 14px);
    letter-spacing: 0.02em;
    color: #494848; 
  }
  &__icon {
      width: 24px;
      height: 24px;
      margin-right: 8px;
      fill: rgba(199, 144, 2, 1);
  }

  &__box2{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 22px;
    margin-bottom: 16px;
  }
  &__box3 {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 54px;
    margin-bottom: 16px;
  }
  &__text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: $second-accent-color;
  }
  &__address{
    display: flex;
    padding-left: 122px;
    margin-bottom: 32px;
  }
  &__location {
    display: flex;
    align-items: center;
    padding: 8px 32px 7px 10px;
    max-width: 260px;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
    background-color: $main-light-color;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20px / 16px);
    letter-spacing: 0.01em;
    color: #494848;
  @include tablet{
    max-width: 285px;
    padding: 9px 8px 7px 10px;
    margin-right: 0;
    }
  }

  &__frame-box{
    max-width: 384px;
    margin: 0 auto;
    @include tablet {
      width: 585px;
      height: 412px;
     }
   @include desktop {
      width: 634px;
   }
}
  &__frame {
    width: 100%;
    height: 220px;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    border-radius: 2px;  
}
}
.containar {
  margin: 0 auto;
  @include mobile {
    width: 384px;
  }
  @include tablet {
    width: 930px;
  }
  @include desktop {
    width: 1024px;
  }

}
.logo--darck {
    font-size: 40px;
    line-height: 1.075;
    color: $logo-rest-hotel-color;
    margin-bottom: 12px;
   @include tablet {
        font-size: 64px;
        line-height: 1.078;
     }
}