.hotel_details {
  margin: 0 auto;

  &__container {
    @media screen and (min-width: 414px) {
      .container {
        width: 414px;
      }
    }
    @media screen and (min-width: 1024px) {
      .container {
        width: 1024px;
        padding: 0 47px;
      }
    }
    @media screen and (min-width: 1280px) {
      .container {
        width: 1280px;
        padding: 0 85px;
      }
    }
  }
}
