.restaurant-details {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  padding: 24px 0 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include respond-to('min', 'tablet') {
    padding: 48px 0 50px;
  }
  @media screen and (min-device-pixel-ratio: 1),
    screen and (min-resolution: 96dpi),
    screen and (min-resolution: 1dppx) {
    background-image: repeating-linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 140px,
        rgba(122, 122, 122, 0.4) 140px,
        rgba(122, 122, 122, 0.4) 141px,
        rgba(0, 0, 0, 0) 141px,
        rgba(0, 0, 0, 0) 275px,
        rgba(122, 122, 122, 0.4) 275px,
        rgba(122, 122, 122, 0.4) 276px,
        rgba(0, 0, 0, 0) 276px
      ),
      linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../images/restaurant-details/restaurant-details_background_phone_1x.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: repeating-linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 140px,
        rgba(122, 122, 122, 0.4) 140px,
        rgba(122, 122, 122, 0.4) 141px,
        rgba(0, 0, 0, 0) 141px,
        rgba(0, 0, 0, 0) 275px,
        rgba(122, 122, 122, 0.4) 275px,
        rgba(122, 122, 122, 0.4) 276px,
        rgba(0, 0, 0, 0) 276px
      ),
      linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../images/restaurant-details/restaurant-details_background_phone_2x.jpg);
  }
  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    background-image: repeating-linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 140px,
        rgba(122, 122, 122, 0.4) 140px,
        rgba(122, 122, 122, 0.4) 141px,
        rgba(0, 0, 0, 0) 141px,
        rgba(0, 0, 0, 0) 275px,
        rgba(122, 122, 122, 0.4) 275px,
        rgba(122, 122, 122, 0.4) 276px,
        rgba(0, 0, 0, 0) 276px
      ),
      linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../images/restaurant-details/restaurant-details_background_phone_3x.jpg);
  }
  @include respond-to('min', 'tablet') {
    @media screen and (min-device-pixel-ratio: 1),
      screen and (min-resolution: 96dpi),
      screen and (min-resolution: 1dppx) {
      background-image: repeating-linear-gradient(
          to right,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0) 278px,
          rgba(122, 122, 122, 0.4) 278px,
          rgba(122, 122, 122, 0.4) 279px,
          rgba(0, 0, 0, 0) 279px,
          rgba(0, 0, 0, 0) 513px,
          rgba(122, 122, 122, 0.4) 513px,
          rgba(122, 122, 122, 0.4) 514px,
          rgba(0, 0, 0, 0) 514px,
          rgba(0, 0, 0, 0) 748px,
          rgba(122, 122, 122, 0.4) 748px,
          rgba(122, 122, 122, 0.4) 749px,
          rgba(0, 0, 0, 0) 749px
        ),
        linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../images/restaurant-details/restaurant-details_background_tablet_1x.jpg);
    }
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: repeating-linear-gradient(
          to right,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0) 278px,
          rgba(122, 122, 122, 0.4) 278px,
          rgba(122, 122, 122, 0.4) 279px,
          rgba(0, 0, 0, 0) 279px,
          rgba(0, 0, 0, 0) 513px,
          rgba(122, 122, 122, 0.4) 513px,
          rgba(122, 122, 122, 0.4) 514px,
          rgba(0, 0, 0, 0) 514px,
          rgba(0, 0, 0, 0) 748px,
          rgba(122, 122, 122, 0.4) 748px,
          rgba(122, 122, 122, 0.4) 749px,
          rgba(0, 0, 0, 0) 749px
        ),
        linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../images/restaurant-details/restaurant-details_background_tablet_2x.jpg);
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: repeating-linear-gradient(
          to right,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0) 278px,
          rgba(122, 122, 122, 0.4) 278px,
          rgba(122, 122, 122, 0.4) 279px,
          rgba(0, 0, 0, 0) 279px,
          rgba(0, 0, 0, 0) 513px,
          rgba(122, 122, 122, 0.4) 513px,
          rgba(122, 122, 122, 0.4) 514px,
          rgba(0, 0, 0, 0) 514px,
          rgba(0, 0, 0, 0) 748px,
          rgba(122, 122, 122, 0.4) 748px,
          rgba(122, 122, 122, 0.4) 749px,
          rgba(0, 0, 0, 0) 749px
        ),
        linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../images/restaurant-details/restaurant-details_background_tablet_3x.jpg);
    }
  }
  @include respond-to('min', 'desktop') {
    @media screen and (min-device-pixel-ratio: 1),
      screen and (min-resolution: 96dpi),
      screen and (min-resolution: 1dppx) {
      background-image: repeating-linear-gradient(
          to right,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0) 338px,
          rgba(122, 122, 122, 0.4) 338px,
          rgba(122, 122, 122, 0.4) 339px,
          rgba(0, 0, 0, 0) 339px,
          rgba(0, 0, 0, 0) 641px,
          rgba(122, 122, 122, 0.4) 641px,
          rgba(122, 122, 122, 0.4) 642px,
          rgba(0, 0, 0, 0) 642px,
          rgba(0, 0, 0, 0) 944px,
          rgba(122, 122, 122, 0.4) 944px,
          rgba(122, 122, 122, 0.4) 945px,
          rgba(0, 0, 0, 0) 945px
        ),
        linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../images/restaurant-details/restaurant-details_background_landscape_1x.jpg);
    }
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: repeating-linear-gradient(
          to right,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0) 338px,
          rgba(122, 122, 122, 0.4) 338px,
          rgba(122, 122, 122, 0.4) 339px,
          rgba(0, 0, 0, 0) 339px,
          rgba(0, 0, 0, 0) 641px,
          rgba(122, 122, 122, 0.4) 641px,
          rgba(122, 122, 122, 0.4) 642px,
          rgba(0, 0, 0, 0) 642px,
          rgba(0, 0, 0, 0) 944px,
          rgba(122, 122, 122, 0.4) 944px,
          rgba(122, 122, 122, 0.4) 945px,
          rgba(0, 0, 0, 0) 945px
        ),
        linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../images/restaurant-details/restaurant-details_background_landscape_2x.jpg);
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: repeating-linear-gradient(
          to right,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0) 338px,
          rgba(122, 122, 122, 0.4) 338px,
          rgba(122, 122, 122, 0.4) 339px,
          rgba(0, 0, 0, 0) 339px,
          rgba(0, 0, 0, 0) 641px,
          rgba(122, 122, 122, 0.4) 641px,
          rgba(122, 122, 122, 0.4) 642px,
          rgba(0, 0, 0, 0) 642px,
          rgba(0, 0, 0, 0) 944px,
          rgba(122, 122, 122, 0.4) 944px,
          rgba(122, 122, 122, 0.4) 945px,
          rgba(0, 0, 0, 0) 945px
        ),
        linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../images/restaurant-details/restaurant-details_background_landscape_3x.jpg);
    }
  }
}
.restaurant-details-section-container {
  overflow: hidden;
  margin-right: 0;
  min-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
  @include respond-to('min', 'phone') {
    width: screen-width('phone');
  }
  @include respond-to('min', 'tablet') {
    width: screen-width('tablet');
    padding: 0 47px;
  }
  @include respond-to('min', 'desktop') {
    width: screen-width('desktop');
    padding: 0 85px;
  }
  @include respond-to('min', 'tablet') {
    display: flex;
    flex-direction: row-reverse;
    gap: 32px;
  }
}
.restaurant-details__container {
  @include respond-to('min', 'tablet') {
    display: flex;
    flex-direction: row-reverse;
    gap: 32px;
  }
}

.restaurant-details__wrapper-first {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  // padding-bottom: 94px;
  @include respond-to('min', 'tablet') {
    padding-bottom: 50px;
  }
}
.restaurant-details__wrapper-second {
  @include respond-to('min', 'tablet') {
    flex-grow: 1;
  }
}
.restaurant-details__button {
  // display: block;
  // width: 236px;
  // align-self: center;
  @include button($main-dark-color);
  &:hover,
  &:focus {
    border: 2px solid $accent-color;
  }
}
.restaurant-details__logo {
  padding: 0;
  margin: 0 0 12px;
  font-family: 'Film P3';
  font-family: 'Film P3';
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
  line-height: calc(43 / 40);
  letter-spacing: 0.3em;
  margin-bottom: 12px;

  @include respond-to('max', 'tablet') {
    margin-left: 125px;
  }
  // @include respond-to('max', 'phone') {
  //   margin-left: calc((100vw - 414px) / 414 * 125);
  // }
  @include respond-to('min', 'tablet') {
    font-size: 64px;
    line-height: calc(69 / 64);
    margin-bottom: 16px;
    position: relative;
    left: -34px;
  }
}
.restaurant-details__title {
  padding: 0;
  margin: 0 0 20px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: #ffffff;

  @include respond-to('max', 'tablet') {
    margin-left: 125px;
  }
  @include respond-to('min', 'tablet') {
    font-size: 24px;
    line-height: calc(29.3 / 24);
    margin-bottom: 8px;
    position: relative;
    left: -34px;
  }
}
.restaurant-details__info {
  padding: 0;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: calc(14.6 / 12);
  letter-spacing: 0.02em;

  color: #bababa;
  margin-bottom: 48px;

  @include respond-to('max', 'phone') {
    font-size: calc((100vw) / (414px) * 12px);
    max-width: calc((100vw) / (414px) * 259px);
  }
  @include respond-to('max', 'tablet') {
    margin-left: 125px;
    max-width: 259px;
  }
  @include respond-to('min', 'tablet') {
    font-size: 16px;
    line-height: calc(19.5 / 16);
    margin-bottom: 40px;
    width: 610px;
    position: relative;
    left: -34px;
  }
}

.restaurant-details-slider {
  &__wrapper {
    position: relative;
    left: 26px;
    margin-bottom: 60px;
  }
  &__container {
    width: 365px;

    @include respond-to('min', 'tablet') {
      width: 682px;
    }
  }
  & .slick-track {
    position: relative;
    display: flex;
    gap: 26px;
    @include respond-to('min', 'tablet') {
      gap: 34px;
    }
  }
  & .slick-list {
    overflow: hidden;
  }
  @include respond-to('max', 'phone') {
    &__item {
      width: 270px;
      height: 270px;
    }
    &__img {
      width: 270px;
      height: auto;
    }
  }
  @include respond-to('min', 'tablet') {
    &__item {
      width: 162px;
      height: 270px;
      object-position: center;
      object-fit: cover;
    }
    &__image {
      width: 162px;
      height: 270px;
      object-position: center;
      object-fit: cover;
    }
    // &__item.slick-current.slick-active {
    //   width: 270px;
    //   height: 270px;
    //   object-position: center;
    //   object-fit: cover;
    // }
    // &__item.slick-current.slick-active > image {
    //   width: 270px;
    //   height: 270px;
    //   object-position: center;
    //   object-fit: cover;
    //}
    &__image--big {
      width: 270px;
      height: auto;
    }
    &__item--big {
      width: 270px;
      height: auto;
    }
  }

  &__wrapper .slick-prev {
    position: absolute;
    background-color: transparent;
    font-size: 0;
    width: 45px;
    height: 25px;
    border: none;
    &:hover,
    &:focus {
      .restaurant-details-slider__arrow-left-svg {
        fill: $accent-color;
      }
    }
  }
  &__wrapper .slick-next {
    position: absolute;
    background-color: transparent;
    font-size: 0;
    width: 45px;
    height: 25px;
    left: 50px;
    border: none;
    &:hover,
    &:focus {
      .restaurant-details-slider__arrow-right-svg {
        fill: $accent-color;
      }
    }
  }
  &__arrow-left {
    border: none;
    background-color: transparent;
  }
  &__arrow-right {
    border: none;
    background-color: transparent;
  }
  &__buttons {
    position: absolute;
    top: 285px;
  }
  &__arrow-left-svg {
    fill: $main-light-color;
    translate: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      fill: $accent-color;
    }
  }
  &__arrow-right-svg {
    // position: relative;
    // z-index: 10;
    fill: $main-light-color;
    translate: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      fill: $accent-color;
    }
  }
}
