<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css" integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link rel="stylesheet" href="../../sass/index.scss">
    <link rel="stylesheet" href="../../sass/index.css">
    <title>Document</title>
</head>
<body>
    <section class="amenities">
        <h2 class="amenities__title">Зручності у номері</h2>
        <p class="amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <ul class="amenities__items">
            <li>
                <h3 class="amenities__subtitle">Загальні</h3>
                <p class="amenities__desc">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    <p class="amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </li>
            <li>
                <h3 class="amenities__subtitle">Ванна кімната</h3>
                <p class="amenities__desc">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    <p class="amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </li>
            <li>
                <h3 class="amenities__subtitle">Спальня</h3>
                <p class="amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. </p>
            </li>
            <li>
                <h3 class="amenities__subtitle">Кухня</h3>
                <p class="amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
            </li>
            <li>
                <h3 class="amenities__subtitle">Медіа</h3>
                <p class="amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. </p>
            </li>
        </ul>
        <button class="amenities__button" type="button">Оформити бронювання</button>
        <a class="amenities__link"  href="../../hotel.html">Повернутися до перегляду номерів <svg class="amenities__icon" width="24" height="24">
            <use href="../../images/svg/icons.svg#icon-vector_amenities"></use>
        </svg></a>
        
        </section>
</body>
</html>
