<div class="hero-room-background">
  <div class="header-gradient"></div>
  <div class="hero-slider-wrapper">
    <div class="hero-slider">
      <!-- hotel -->

      <div class="hero-slider__item">
        <picture>
          <source
            media="(max-width: 414px)"
            srcset="
              ./images/hero_backgrounds/hero-hotel_414.jpg   1x,
              ./images/hero_backgrounds/hero-hotel_414x2.jpg 2x
            "
            type="image/jpeg"
          />

          <source
            media="(min-width: 1025px)"
            srcset="
              ./images/hero_backgrounds/hero-hotel_1280.jpg   1x,
              ./images/hero_backgrounds/hero-hotel_1280x2.jpg 2x
            "
            type="image/jpeg"
          />

          <source
            media="(max-width: 1024px)"
            srcset="
              ./images/hero_backgrounds/hero-hotel_1024.jpg   1x,
              ./images/hero_backgrounds/hero-hotel_1024x2.jpg 2x
            "
            type="image/jpeg"
          />

          <img
            src="./images/hero_backgrounds/hero-hotel_1280.jpg"
            alt="двоспальне ліжко в номері готелю"
          />
        </picture>
      </div>

      <!-- restaurant -->

      <div class="hero-slider__item">
        <picture>
          <source
            media="(max-width: 414px)"
            srcset="
              ./images/hero_backgrounds/hero-restaurant_414.jpg   1x,
              ./images/hero_backgrounds/hero-restaurant_414x2.jpg 2x
            "
            type="image/jpeg"
          />

          <source
            media="(min-width: 1025px)"
            srcset="
              ./images/hero_backgrounds/hero-restaurant_1280.jpg   1x,
              ./images/hero_backgrounds/hero-restaurant_1280x2.jpg 2x
            "
            type="image/jpeg"
          />

          <source
            media="(max-width: 1024px)"
            srcset="
              ./images/hero_backgrounds/hero-restaurant_1024.jpg   1x,
              ./images/hero_backgrounds/hero-restaurant_1024x2.jpg 2x
            "
            type="image/jpeg"
          />

          <img
            src="./images/hero_backgrounds/hero-hotel_1280.jpg"
            alt="двоспальне ліжко в номері готелю"
          />
        </picture>
      </div>

      <!-- main -->

      <div class="hero-slider__item">
        <picture>
          <source
            media="(max-width: 414px)"
            srcset="
              ./images/hero_backgrounds/hero-main_414.jpg   1x,
              ./images/hero_backgrounds/hero-main_414x2.jpg 2x
            "
            type="image/jpeg"
          />

          <source
            media="(min-width: 1025px)"
            srcset="
              ./images/hero_backgrounds/hero-main_1280.jpg   1x,
              ./images/hero_backgrounds/hero-main_1280x2.jpg 2x
            "
            type="image/jpeg"
          />

          <source
            media="(max-width: 1024px)"
            srcset="
              ./images/hero_backgrounds/hero-main_1024.jpg   1x,
              ./images/hero_backgrounds/hero-main_1024x2.jpg 2x
            "
            type="image/jpeg"
          />

          <img
            src="./images/hero_backgrounds/hero-hotel_1280.jpg"
            alt="двоспальне ліжко в номері готелю"
          />
        </picture>
      </div>
    </div>
  </div>
  <header class="header" id="home">
    <div class="hh-container">
      <div class="header-container">
        <a href="./index.html" class="header-logo">mimiho</a>
        <ul class="header-nav">
          <li class="header-nav__item">
            <a class="header-nav__link" href="./restaurant.html">Ресторан</a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__contact" href="tel:+380955559533">
              <svg class="header-nav__contact-icon">
                <use href="./images/svg/icons.svg#phone"></use>
              </svg>
              <p class="header-nav__tel">095 555 95 33</p></a
            >
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="./hotel.html">Готель</a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__contact" href="tel:+380668491089">
              <svg class="header-nav__contact-icon">
                <use href="./images/svg/icons.svg#phone"></use>
              </svg>
              <p class="header-nav__tel header-nav__tel--margin-right">
                066 849 10 89
              </p>
              <p class="header-nav__tel">067 275 85 40</p></a
            >
          </li>
        </ul>
      </div>
    </div>
  </header>

  <section class="hero-room">
    <div class="hh-container hh-container--room-page">
      <div class="hero-room__content">
        <p class="hero-room__title">
          <span class="hero-room__title-uppercase">двомісний номер </span>люкс
        </p>
        <p class="hero-room__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <a
        class="hero__map-location hero__map-location--room-page"
        href="https://goo.gl/maps/nCRCqF7u8mZtbLEB7"
        target="_blank"
        rel="noopener noreferrer nofollow"
        ><svg class="hero__map-location-icon">
          <use href="./images/svg/icons.svg#map_location"></use>
        </svg>
        Україна, м. Полтава,<br />
        вул. Маршала Бірюзова, 15</a
      >
      <button
        class="hero__button hero__button--shorter hero__button--room-page btn_sign"
        type="button"
      >
        Переглянути ціни
      </button>

      <ul class="hero__social hero__social--room-page">
        <li class="hero__social-item">
          <a
            class="hero__social-link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            ><svg class="hero__social-icon">
              <use href="./images/svg/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="hero__social-item">
          <a
            class="hero__social-link"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="hero__social-icon">
              <use href="./images/svg/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="hero__social-item">
          <a
            class="hero__social-link"
            href="https://xn--80affa3aj0al.xn--80asehdb/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            ><svg class="hero__social-icon">
              <use href="./images/svg/icons.svg#telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </section>
</div>
