.amenities{
    @media screen and (max-width: 1280px) {
    background-color: $background-light-color;
    }

    &__section{
        max-width: 414px;
        padding: 32px 15px;
        margin: 0 auto;
        
        

        @media screen and (min-width: 1024px) {
        max-width: 1024px;
        padding: 40px 47px;  
        }

        @media screen and (min-width: 1280px) {
        max-width: 1280px;
        padding: 48px 85px;

        background-image: linear-gradient(to right,
                            $background-light-color 338px,
                            $bg-gradient-color 339px,
                            $background-light-color 340px,
                            $background-light-color 639px,
                            $bg-gradient-color 640px,
                            $background-light-color 641px,
                            $background-light-color 941px,
                            $bg-gradient-color 942px,
                            $background-light-color 943px);
        }
    }

    &__title{
        margin-bottom: 16px;
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 1.16;
        text-transform: uppercase;

        color: $main-dark-color;
    }

    &__title-text{
        max-width: 757px;
        margin-bottom: 32px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;

        color: $text-hotel-color;
    }

    &__text{
        max-width: 384px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;

        color: $text-hotel-color;

        @media screen and (min-width: 1024px) {
            max-width: 400px;
            }
    }
    
    &__item{
        @media screen and (min-width: 1024px) {
        display: flex;
        }
    }

    &__subtitle{
        margin-bottom: 16px;
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.17;
        text-transform: uppercase;

        color: $main-dark-color;
    }
    
    &__desc{
        max-width: 384px;
        margin-bottom: 16px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;

        color: $text-hotel-color;

        @media screen and (min-width: 1024px) {
        max-width: 400px;
        margin-right: 80px;
        margin-bottom: 0;
        }

        @media screen and (min-width: 1280px) {
        margin-right: 159px;
        }

        &--wide{

        @media screen and (min-width: 1024px) {
        max-width: 450px;
        margin-right: 30px;
                        }

        @media screen and (min-width: 1280px) {
        max-width: 495px;
        margin-right: 64px;
                }
        }
    }
    
    &__list{
        margin-bottom: 32px;
        @media screen and (min-width: 1024px) {
        &:last-child{
        margin-bottom: 40px;
        }    
    }
}

    &__button{
        width: 100%;
        height: 64px;
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 20px;
        text-transform: uppercase;
        line-height: 1.2;

        color: $main-light-color;
        background-color: $main-dark-color;

        border: 1px solid $accent-color;
        border-radius: 25px;

        transition: color $cubic, 
        background-color $cubic;

        @media screen and (min-width: 1024px) {
        position: relative;
        left: 496px;
        width: 434px;
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 1.21;
        }

        @media screen and (min-width: 1280px) {
        left: 563px;
        }

        &:hover, &:focus{
        color: $main-dark-color;
        background-color: $accent-color;
        cursor: pointer;
        }
    }

    &__link{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        text-decoration: none;

        color: $second-accent-color;
        fill: $second-accent-color;
        transition: color $cubic;

        @media screen and (min-width: 1024px) {
        justify-content: flex-end;
        font-size: 20px;
        line-height: 1.2;
        gap: 16px;
        }

        @media screen and (min-width: 1280px) {
        margin-right: 114px;
        
        }

        &:hover, &:focus{
        color: $accent-color;
        fill: $accent-color;
        cursor: pointer;
        }
    }

    &__icon{
        transition: fill $cubic;
    }
}
