// Hero slider

.hero-slider-wrapper {
  position: absolute;
  width: 100%;
  max-width: 1280px;
}

.hero-slider {
  position: relative;

  & .slick-track {
    display: flex;
  }

  & .slick-list {
    overflow: hidden;
  }

  & .slick-slide {
    height: 571px;

    @media screen and (min-width: 360px) {
      height: 646px;
    }

    @media screen and (min-width: 414px) {
      height: 720px;
    }
  }

  & .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    cursor: pointer;

    width: 40px;
    height: 40px;
    border: none;
    font-size: 0;
    background-color: rgba(0, 0, 0, 0.65);

    &.slick-prev {
      left: 15px;
      @media screen and (min-width: 1024px) {
        left: 47px;
      }

      @media screen and (min-width: 1280px) {
        left: 85px;
      }

      background-image: url('../images/svg/hero-slider-arrow-left.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &.slick-next {
      right: 15px;
      @media screen and (min-width: 1024px) {
        right: 47px;
      }

      @media screen and (min-width: 1280px) {
        right: 85px;
      }

      background-image: url('../images/svg/hero-slider-arrow-right.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
